-content_for :include do
  :css
    #map {display:none;}
    #resize {display:none;}
    #rightpane {width:100%;background:url('/images/bg.png')}
    #rightpane .inner {padding:48px;}

.inner{:style=>'color:#024357'}
  -if @name == "Page not found"
    %h1{:style=>'font-size:72px;font-weight:bold'} 404 - Lost in atlas!
    %h2 The page you requested could not be found.

  -elsif @name == "Error"
    %h1{:style=>'font-size:72px;font-weight:bold'} 500 - Technical problem
    %h2 An error occured in our servers, sorry for the inconvenience. The incidence is reported.
-#content_for :body_end do
  :javascript
    document.getElementById('map').style.width = 0;
    document.getElementById('resize').style.display = 'none';
    document.getElementById('rightpane').style.width = "100%";
