.navigation{"data-spy"=>'affix',"data-offset-top"=>"20"}
  %ul
    %li
      %a{:href=>'/about'} About EJAtlas
    %li
      %a{:href=>'/country'} Country Maps
    %li
      %a{:href=>'/company'} Company Maps
    %li
      %a{:href=>'/commodity'} Commodity Maps
