-#coding: utf-8
.row
  .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1{:style=>"text-align:justify;"}
    %br/
    %br/
    %h2 Türkiye Çevre Adaleti Atlası
    %br/
    %p
      Çevre ihtilafları, başka bir deyişle ekolojik paylaşım ihtilafları ya da sosyo-ekolojik ihtilaflar, çoğu zaman, yerel toplulukların doğal kaynaklara erişimini kısıtlayan, bu kaynakları tahrip eden veya kirleten, insan sağlığı ve toplumsal yaşam açısından risk taşıyan doğal kaynak kullanım tasarı ve uygulamaları sonucunda ortaya çıkar. Türkiye Çevre Adaleti Atlası, Türkiye'deki çevre ihtilaflarını yerel hareketlerin, çevre aktivistlerinin, araştırmacıların ve ilgili tüm vatandaşların bilgi birikiminden yararlanarak bir araya getirmeyi hedefleyen kolektif ve katılımcı bir haritalama çabasıdır. 
    %p
      Çevrimiçi bir envanter oluşturma amacı taşıyan bu çalışma, öncelikle çeşitli ekonomik aktivitelere ve projelere karşı ortaya çıkan çevre adaleti mücadelelerini belgeler ve bir harita üzerinde görünür kılar. Atlas ayrıca, çevre adaleti ile ilgili talepleri öne çıkaran ve ortak sorunlara karşı mücadele edenlerin bilgi alabileceği ve birlikte çalışma imkanı bulabileceği bir mekân yaratma amacı güder. Vakalar her ne kadar ilk başta birbirinden ayrı gibi gözükseler de, çevre ihtilaflarına neden olan madenler, barajlar ve benzeri projeler arasında önemli bağlantılar mevcuttur. İşte Türkiye Çevre Adaleti Atlası, tekil vakaları haritalandırarak, birbirinden ayrık görünen bu mücadeleler arasındaki yatay ve dikey bağları ortaya çıkarmaya ve resmin tamamını göstermeye çalışır. 
    %p
      Bu veri tabanının, bu bağlamda, hem çevre hareketlerinin hem de örgütler ile bilim insanlarının arasında iletişimi sağlayan bir platform görevi görmesi, çevre siyasetine ve aktivizmine katkıda bulunması amaçlanmaktadır. Girişim, benzer bir amaçla dünyadaki çevre ihtilaflarını haritalayan ve Boğaziçi Üniversitesinin de bir partneri olduğu EJOLT Projesi'ni (2011-2015) temel almıştır. Yerel ve küresel çevre gündemlerini takip etmek ve mesleki çalışmalarını kamusal alanda paylaşmak isteyen bir grup akademisyen tarafından kurulmuş olan Politik Ekoloji Çalışma Grubu tarafından hayata geçirilmiştir.
    %p
      Türkiye Çevre Adaleti Atlası, hem toplumsal hem de çevresel meseleler konusunda farkındalık yaratmak için kullanılabilecek önemli bir bilgi paylaşımı ve savunuculuk kaynağıdır. Gazeteciler, aktivistler, araştırmacılar ve ilgili tüm vatandaşlar bu veri tabanını kullanmanın çeşitli yollarını bulacaklardır. Araştırmacılar, gazeteciler ve blog yazarları Atlas'ı referans vakalara ulaşmak, eğilimleri incelemek ve araştırma sorularına cevaplar bulmak için kullanabilirler. Eğiticiler, Atlas'ta yer alan bilgileri ders materyali olarak kullanabilirler. Aktivistler, örgütleyiciler ve kampanyacılar, gelecekteki kampanyalar için başarılı stratejiler belirlemek adına geçmişte kazanılmış vakaların ana unsurlarını inceleyebilirler. Ayrıca ilgili tüm vatandaşlar, çevre ihtilafları hakkında daha fazla bilgi edinmek için veri tabanını kullanabilirler. Benzer vakalar üzerinde veya aynı özel şirket aktörlerine karşı çalışan gruplar, Atlas aracılığıyla potansiyel müttefiklerle bağlantı kurabilirler.
    %p
      Veri tabanında yer alan bilgiler doğrudan bildirime, ilgili bölgelerde yaşayan yerel toplulukların, araştırmacıların, çeşitli tematik alanlarda çalışan STK'ların ve sivil toplum örgütlerinin aktif katılımlarına dayanır. Masabaşı ekibi, her hangi bir bildirim olmadan haritaya yeni vaka eklemez. 
    %p
      Bu çerçevede, sizi de veri tabanını genişletmeye ve bu kolektif girişime katkıda bulunmaya çağırıyoruz. Atlas'ta değinilmeyen bir çevre ihtilafı hakkında bilgi sahibiyseniz lütfen siz de bir kullanıcı hesabı açın ve önemli gördüğünüz vakaya dair bilgilerinizi paylaşın. Herkes kayıtlı kullanıcı olarak yeni vaka girişi yapabilir. 
    %p
      Katılımınız için şimdiden teşekkür ederiz. 

-#.row
  .col-sm-6
    %p 
      Çevre ihtilafları, çoğu zaman, yerel toplulukların doğal kaynaklara erişimini kısıtlayan, bu kaynakları tahrip eden veya kirleten, insan sağlığı ve toplumsal yaşam açısından risk taşıyan doğal kaynak kullanımı tasarı ve uygulamaları sonucunda ortaya çıkmaktadır. Bu harita, 
      %strong Türkiye'deki çevre ihtilaflarını, yerel hareketlerin ve çevre aktivistlerinin bilgi birikiminden yararlanarak bir araya getirmeyi hedefleyen kolektif bir çabadır.

    %p 
      Veritabanının, hem çevre hareketlerinin kendi arasında hem de örgütler ile bilim insanları arasında iletişimi sağlayan bir platform görevi görmesi ve çevre siyasetine ve aktivizmine katkıda bulunması amaçlanmaktadır. Girişim, benzer bir amaçla dünyadaki ekolojik ihtilafları haritalayan ve Boğaziçi Üniversitesi'nin de bir partneri olduğu 
      %strong 
        %a{:href=>"http://ejolt.org",:target=>"_blank"} 
          EJOLT projesini temel almıştır. 
      Küresel ve yerel çevre gündemlerini takip etmek ve mesleki çalışmalarını kamusal alanda paylaşmak isteyen bir grup akademisyen tarafından kurulmuş olan Politik Ekoloji Çalışma Grubu tarafından gerçekleştirilmiştir. 
      %strong 
        Politik Ekoloji ve ilgili çalışmalara dair daha detaylı bilgi için, 
        %a{:href=>"http://entitle.org",:target=>"_blank"} 
          ENTITLE projesini inceleyebilirsiniz.

  .col-sm-6
    %p Haritada yer alan daireler daha detaylı olarak giriş yapılmış ihtilafları, kareler ise sadece ana hatları girilmiş ihtilafları belirtmektedir. Ayrıca, harita lejantındaki renkler ihtilaf ana kategorilerini göstermektedir. Lejanttaki renklere tıklayarak ihtilafları ana kategorilerine göre filtreleyebilirsiniz. Filtreyi kaldırmak için ise lütfen anasayfa (ev) tuşunu kullanınız.


    %p Giriş sekmesinden siteye üye olarak:

    %ul
      %li Yeni ihtilaf ihbarında bulunabilirsiniz.
      %li Haritada var olan ya da yeni bir ihtilafla ilgili detaylı bilgi girebilirsiniz.  (İhtilaf bilgi formunu görmek için tıklayınız. Bu alan sadece örnek formu görmeniz içindir. Formu doldurmak için ise İHTİLAF EKLE'ye tıklayınız.)
      %li Haritada yer alan ihtilaflarla ilgili daha detaylı bilgi içeren doldurulmuş formları diğer üyelerden talep edebilirsiniz.
      
    %p Sizi bu kolektif girişime katkıda bulunmaya çağırıyoruz. Kişisel bilgileriniz, siz istemediğiniz sürece kimseyle paylaşılmayacaktır. Bizimle iletişime geçmek için direncevre@gmail.com adresine mesaj atabilir, Facebook ve Twitter sayfalarımızı takip edebilirsiniz.

    %p Katılımınız için teşekkür ederiz.

.row
  .col-sm-12
    %br/
    %br/
    %br/
    %br/
    %div{:style=>"text-align:center"}
      %a{:href=>'http://www.ejolt.org/'}
        %img{:src=>'/images/ejolt_logo.gif',:title=>'EJOLT',:style=>"margin-bottom:24px"}
      &nbsp; &nbsp; &nbsp; &nbsp;
      %a{:href=>'http://cordis.europa.eu/fp7/home_en.html',:target=>"_blank"}
        %img{:src=>'/images/fp7_white.gif',:title=>'Seventh Network Programme',:style=>"height:70px;margin-bottom:24px"}
      &nbsp; &nbsp;
      %a{:href=>'http://europa.eu/',:target=>"_blank"}
        %img{:src=>'/images/eu.gif',:title=>'European Union',:style=>"margin-bottom:24px"}
      &nbsp; &nbsp;
      %a{:href=>'http://www.politikekoloji.org.org/'}
        %img{:src=>'/images/Politikekoloji.png',:title=>'Politik Ekoloji Çalışma Grubu',:style=>"width:203px;margin-bottom:24px"}
