-#coding: utf-8
.tagline
  .ejolt-logo
  %p= $pagedesc
-2.times do
  %br/

%h1 About the Atlas of Environmental Justice
%p Across the world communities are struggling to defend their earth, air water and resources and their livelihoods from damaging environmental impacts. Mining projects, mega dams, tree plantations, fracking, gas flaring, incinerators, etc … As resources needed to fuel our economy move through the commodity chain from extraction, processing and disposal, environmental impacts are externalized onto the most marginalized populations. But all this takes place far from the eyes of the consumers of the end-products.  The EJ atlas aims to make these impacts more visible and to make the case for true corporate and state accountability for the injustices inflicted through their activities.
 
%p This Atlas collects stories from around the world of communities struggling for environmental justice. It attempts to serve as a virtual space for those working on EJ issues to get information, find other groups working on related issues, and increase the visibility of environmental conflicts.

%h3 A commodity perspective: we are living in a material world
%p It is the growing consumption of resources that is fuelling ever more conflicts globally. Most of these are used to satisfy the material needs of the richest segments of the world population. But overconsumption by the rich visits ecological violence on the poor. It is a story of luxury for some v. livelihood for many. At the same time, the search for resources means the frontiers of extraction are expanding, reaching the last untouched places on earth such as the Arctic, remote forests inhabited by indigenous populations, or middle class communities threatened by fracking.
%p The EJ Atlas maps an unequal world,  illustrating who benefits from and who bears the ecological and social costs of economic and material growth.

%h3 A Map of Conflicts…  but also of struggle and resistance
%p The map tells a story of environmental devastation and despoliation, of ecocide and eco-apartheid, but also a story of resistance, and communities mobilizing to fight against the odds. Of the cases currently in the map, 17%  are successes for environmental justice. Court cases were won, communities were strengthened, and access to the commons was reclaimed. These victories are a testament to the power of protest and the ability to impact the political process.

%h3 Conflicts can be a force for strong sustainability and democracy
%p We don't aim to "solve" the conflicts but to reveal the actors and drivers and structural patterns behind them. The defense of territory, the defense of livelihood and the defense of the resources that communities depend on are the best weapon against endless capitalist exploitation of the ecological system we depend on.

%h3 Accountability starts at home
%p 
  Access to justice is often elusive for impacted communities. One main reason is that companies enjoy impunity for grave human rights and other abuses. Local governments are often not able or willing to prosecute the companies because they are desperate for much needed investment. At the same time, the home countries of the companies refuse to rein in their companies. Communities should have the right to seek justice in the home countries of the companies if it is not available at home. 
  To learn more about access to justice watch this video:
  %a{:href=>"http://www.youtube.com/watch?v=05q64jDDwrg"} “Access to Justice and Extractive Industries”

%h3 Key highlights from the Mapping process reveal that:
%ol
  %li Ecological conflicts are increasing around the world, driven by material demands fed primarily by the richest subsection of the global population. The most impacted are poor and marginalized communities, who do not have the political power to ensure access to justice and environmental health.
  %li Both old and new forms (fracking, eco-system services) of extraction are expanding across all the continents. Much of this resource drive is focussed on hard to reach places and the last remaining pristine ecosystems on the planet, which are often occupied by indigenous and subsistence communities.
  %li The current wave of enclosures is leading to reckless and irreparable environmental destruction including water contamination and depletion, land degradation, and the release of dangerous toxics as well as the loss of community control over resources necessary for their livelihoods. Large areas of land and vast amounts of water are under threat. Global challenges such as climate change are not being addressed, while “false solutions” such as carbon offsets are leading to an even more unequal distribution of environmental space.
  %li These environmental injustices involve a variegated web of actors, including corporate actors already operating in large-scale capital resource investment, as well as new financial actors seeking returns to capital. Investment is moving away from traditional North-South colonial patterns as the rise of emerging powers augurs a shift to a more polycentric regime of resource flows.
  %li Peoples’ resistance is emerging as the threat grows. Communities are fighting to regain control of their resources and assert their right to a healthy environment. Forms of action include formal means, such as court cases, lobbying government and referenda as well as informal mobilization including street protest, blockades and land occupation, among others.
  %li Companies continue to enjoy widespread corporate impunity for environmental and human rights abuses. Companies continue activities amidst strong citizens’ protests, sometimes relying on private security forces and sympathetic governments to suppress resistance. This increased persecution and violent targeting of environmental activists is undermining human rights.
  %li Increased corporate accountability, as opposed to voluntary corporate responsibility, and reduction of consumption are the only way to stop the spread of ecological conflicts worldwide. Continued monitoring and mobilisation by citizens’ groups is also essential.
  %li Amidst the stories of environmental devastation and despoilaton, we also see many cases of environmental justice victories, whereby court cases were won, projects were cancelled and the commons were reclaimed. The grassroots resistance of impacted communities is key to moving to a more equal and sustainable economy.

-content_for :sidebar do
  =partial("base/sidebar")

