-#coding: utf-8
%h1 Frequently Asked Questions
%h3 What is this Project About?
%p The environmental justice atlas documents and catalogues social conflict around environmental issues.
%p Across the world communities are struggling to defend their land, air, water, forests and their livelihoods from damaging projects and extractive activities with heavy environmental and social impacts:  mining, dams, tree plantations, fracking, gas flaring, incinerators, etc. As resources needed to fuel our economy move through the commodity chain from extraction, processing and disposal, at each stage environmental impacts are externalized onto the most marginalized populations. Often this all takes place far from the eyes of concerned citizens or consumers of the end-products.
%p The EJ Atlas collects these stories of communities struggling for environmental justice from around the world. It aims to make these mobilization more visible, highlight claims and testimonies and to make the case for true corporate and state accountability for the injustices inflicted through their activities. It also attempts to serve as a virtual space for those working on EJ issues to get information, find other groups working on related issues, and increase the visibility of environmental conflicts.
%p The Atlas is coordinated at ICTA-UAB by Leah Temper and edited by Leah Temper, Daniela del Bene and Joan Martinez Alier. It is one of the main outcomes of the EJOLT project - Environmental Justice Organisations, Liabilities and Trade - an FP7 project supported by the European Commission and directed by Prof. Joan Martinez Alier from the Autonomous University of Barcelona that runs from 2011-2015. The project supports the work of Environmental Justice Organisations, uniting scientists, activist organisations, think-tanks, policy-makers from the fields of environmental law, environmental health, political ecology, ecological economics, to talk about issues related to Ecological Distribution. Central concepts are Ecological Debts (or Environmental Liabilities) and Ecologically Unequal Exchange. We focus on the use of these concepts in science and in environmental activism and policy-making.
%p Find out more here: 
%p
  %a{:href=>'http://www.ejolt.org/project/ '} http://www.ejolt.org/project/ 
  %a{:href=>'http://cordis.europa.eu/news/rcn/36104_en.html'} http://cordis.europa.eu/news/rcn/36104_en.html
%h3 What is an ecological conflict?
%p Socio-environmental conflicts are defined as mobilizations by local communities, social movements, which might also include support of national or international networks against particular economic activities, infrastructure construction or waste disposal/pollution whereby environmental impacts are a key element of their grievances.
%p The atlas documents social conflict related to claims against perceived negative social or environmental impacts with the following criteria:
%ol
  %li Economic activity or legislation with actual or potential negative environmental and social outcomes;
  %li Claim and mobilization by environmental justice organization (s) that such harm occurred or is likely to occur as a result of that activity
  %li Reporting of that particular conflict in one or more media stories.

%p These conflicts usually arise from structural inequalities of income and power. Dimensions of environmental justice include distribution over the burdens of pollution and access to environmental resources the right to participate in decision-making and the recognition of alternate world-views and understanding of development. The action repertoires may include formal claim-making, petitions, meetings, demonstrations, boycotts, strikes, legal actions, civil disobedience, collective violence, international campaigns and other action forms. In the act of claiming redistributions, these conﬂicts are often part of, or lead to larger gender, class, caste and ethnic struggles.

%h3 What are the drivers of these conflicts?
%p Growing consumption of resources is fuelling ever more conflicts globally. Most of these are used to satisfy the material needs of the rich segments of the world population. But over-consumption by the rich visits ecological violence on the poor. It is a story of luxury for some v. livelihood for many.  
%p The search for resources to feed the growing global socio-metabolism of the economy also leads to an expansion of the “commodity frontiers”, with extractive projects now reaching the last untouched places on earth such as the Arctic, deep sea, remote forests inhabited by indigenous populations, or even the centres of industrialized economies, such as  middle-class communities threatened by fracking. The EJatlas aims to expose and explain the material dimension of socio-environmental conflicts related to extractivist economies, criminalization of the dissent and lack of democratic participation and decisional processes.
%p Access to justice is often elusive for impacted communities as many companies enjoy impunity for grave human rights, corruption, and other abuses. Through subsidiaries, for example, mother companies can escape prosecution for criminal acts. Local governments are often not able or willing to prosecute environmental crimes because they are desperate for much needed investment in strategic sectors or have come to exchange agreements with them or feel under threat by creditors and international finance institutions. At the same time, the home countries of the companies refuse to rein in their companies as their only objective is pushing their companies into new markets or get geopolitical control over those territories. Increasing financialization of the economy has made such global justice issues much more complicated, as the actors behind many decisions related to investments and projects are private investments funds, private equities, pension funds, etc which fall outside any democratic control.
%p 
  To deal with this lack of accountability, civil society organizations argue for international mechanisms to deal with abuses, such as the Eradicating Ecocide initiative. Further, legal scholars argue that communities should have the right to seek justice in the home countries of the companies if it is not available at home.
  %a{:href=>'https://www.youtube.com/watch?v=05q64jDDwrg'} “Access to Justice and Extractive Industries”
%p In some cases, communities succeed in getting a seat at the table, changing laws and legislations and contribute to institutional changes that lead to more equitable outcomes and increased citizen participation in decision-making processes. Of the cases currently in the map, almost 18% have been qualified as “successes” for environmental justice by the reporter, when court cases were won, communities were strengthened, access to the commons was reclaimed, or projects were scrapped. These victories are a testament to the power of protest and the ability to impact the political process. They also show the transformative power of resistances, where communities gain in terms of self consciousness, community organizing, political action and incisiveness, when they push forward alternative projects to the imposed ones and their own resistance narratives and life philosophy and cosmology concepts (like Sumak Kawsay, Ubuntu, Lekil Kuxlejal, Radical Ecological Democracy, etc).
%p 
  To learn more about access to justice watch this video: 
  %a{:href=>'https://www.youtube.com/watch?v=05q64jDDwrg'} “Access to Justice and Extractive Industries”

%h3 What is Environmental Justice?
%p Environmental justice was born as a slogan for the first time in the United States during the 1980s among Black and Latino communities. They mobilized against injustices perpetrated in their communities by polluting industries and waste disposal facilities. It later became an analytical frame, largely in relation to concerns about the unequal distribution of social and environmental costs between different human groups, classes, ethnicities but also in relation to gender and age. EJ draws attention to the link between pollution, race and poverty and tackle socio-spatial distribution of “bads” (emissions, toxins) and “goods” (like green spaces and better services).
%p It later expanded as a concept and theoretical framework, including multi-dimensional and interlinked aspects of justice related to three fundamental dimension of EJ: distribution, recognition and participation, as explained above. It has also globalized, tackling issues such as trade agreements, the transfers of wastes, climate change and the Rights of Nature and has served to link up groups and networks within a common similar frame and understanding.
%p The global dimension is evident when it comes to trade and environmental degradation. A mine, a dam, a road in the forest are not isolated objects but connected sites along which value flows, accumulation occurs and costs are externalized.
%p Environmental Justice is both a social movement and an activist/mobilized science and thus offers the potential to bring together citizens, researchers and scholars to create knowledge as part of a global and globalizing environmental justice movement.

%h3 What type of information can you find in the Atlas?
%p The EJatlas maps conflicts across 10 main categories:
%ul
  %li Nuclear
  %li Mineral Ores and Building Extractions
  %li Waste Management
  %li Biomass and Land Conflicts
  %li Fossil Fuels and Climate Justice/Energy
  %li Water Management
  %li Infrastructure and Built Environment
  %li Tourism Recreation
  %li Biodiversity Conservation Conflicts
  %li Industrial and Utilities Conflicts

%p The database contains information on the investors, the drivers for these deals, and their impacts, basic data, source of conflict, project details, conflict and mobilization, impacts, outcome, references to legislation, academic research, videos and pictures.
%p New featured maps have being designed for the second launch of the Atlas in collaboration with different organizations. Featured maps integrate geospatial indicators to better illustrate specific topics and contexts in which socio-environmental conflicts take place. This entails showing a number of socioeconomic indicators in form of intensity/choropleth maps (i.e. GDP, poverty or material extraction) or representing different types of land uses and biophysical parameters (i.e. pasture lands, forests, location of mines, protected areas or water scarce areas). The geodata used include vectors from national planning agencies (such as the case of Colombia´s SIGOT) or international agencies providing geodata such as UNEP, World Resource Institute, NASA´s SEDAC, as well as data generated by organizations working in one specific topic such as shale gas (www.unconventionalenergyresources.com) or land uses (www.globallandproject.org). Socioeconomic data from SIPRI, materialflows.net, UN Comtrade and others have also being transformed into geographical layers specifically for the EJAtlas, through geo-referencing statistical data. Further featured maps will be developed in collaboration and coordination with ongoing campaigns or research projects.

%h3 How we map: a collaborative process
%p 
  The EJOLT Map is based on the work of hundreds of collaborators, from the academy, concerned citizens, informal committees, NGOs and other activist groups, who have been documenting environmental and social injustice and supporting communities on the ground for years. See the full list of collaborators 
  %a{:href=>"http://ejatlas.org/credits"} here.
%p All data are collected in an online database and moderated by the editorial team through double checking of information and for “homogenize” data in order to enable search/filter/browse functions. The cases are then approved and published on the map. Anyone can set up his or her new account and contact with the editorial team for contributing to the database or to flag up agitations happening around the world.
%p A commenting facility is available to the public at every conflict page, in order to promote discussion, debate and exchange on the matter with a wider public and EJatlas users.

%h3 How can I use the atlas?
%p The EJ Atlas is a teaching, networking and advocacy resource. Strategists, activist organizers, scholars, and teachers will find many uses for the database, as well as citizens wanting to learn more about the often invisible conflicts taking place. The map is a valuable teaching resource for curricula about social and environmental issues. Researchers, journalists and bloggers can use it to find reference cases and to explore patterns and answers to research questions. Activists, organizers and campaigners can examine past cases to help strategize on the elements of winning campaigns. It is also a valuable networking tool so groups working on related issues or against the same corporate actors can connect with potential allies.
%p The Search &amp; Filter functionality allows you to filter through any of the fields. The Featured maps that combine new geospatial data layers on issues such as water scarcity, forest cover, mining and oil concessions allowing greater insight into the context and the underlying social and environmental drivers of the conflicts. 
%p 
  This data set is made available under the terms of the 
  %a{:href=>'http://creativecommons.org/licenses/by-nc-sa/3.0/?callout=2-2'} Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported 
  license. You are free use the work for noncommercial purposes only, with attribution given to the EJatlas and a 
  %a{:href=>'http://ejatlas.org'} link to this page. 
  Resulting work must be distributed under the same license or one similar. If you wish to use the data for academic publications please contact the editors for the proper reference.

%h3 How is the platform made?
%p EJAtlas is running on a custom built platform written in Ruby, on the Padrino framework. It is a bespoke design created by the Ejatlas team and by the programmer Yakup Centinkaya specifically for this purpose. Every library in use is open source, like Leaflet, the map visualization library. The base maps are loaded from OpenStreetMaps, ESRI, and free services as such. The code is scaffolded around the data structure designed by EJOLT to explicitly catalogue environmental conflicts. It is improved for the usability of the data for research purposes, like the filtering feature. Some constraints were set to control the data flow, such as the moderation layer for guaranteeing the reliability, and some integrations are implemented that enrich the data flow. The vector layers, like country borders, mining areas, biodiversity hotspots and the like, are uploaded over the web console in .kml or .shp format and processed to be shown on the web. The styles that are used for showing these areas are fully customizable via console too.

%p What are the challenges of the data collection?
%p One limitation of this database lies in the variable quality of the information available. The priority was to generate a large variety of cases, for dissemination, comparison and to give an overview of the frequency of environmental conflicts. Thus, the information for individual cases is not exhaustive. The cases can act as references for researchers to further their own individual studies. Because situations on the ground are constantly changing and most part of the mapping work is based on time availability of contributors and volunteering work, some cases are not fully updated. For this reason we encourage users to comment on cases with updated information they have. 
%p The contextualization of a case may also be controversial. One example is when conservation clashes with the right of communities to undertake livelihood activities. Our cases are based on the mobilization of communities and our criteria for including cases is based on how they frame their claims and languages of valuation.
%p Global coverage is also uneven. The areas covered represent the vast activist knowledge base of the EJOLT partners and collaborators. Many of the cases are based on the databases of our partners including OCMAL database, the CDCA’s map of environmental conflicts, the FIOCRUZ map of Environmental Justice in Brazil, the work of ERA in Nigeria, WRM documenting tree plantation conflicts, Grain’s landgrabbing research, etc... (please see the links to access their pages directly.) We also count on a large extended network of researchers and activists expert in specific countries and thematic areas.
%p For the moment, the map is similar to ancient world maps, with good coverage of some areas and many blanks spots on the map that we hope to fill with time. For this reason we invite EJOs and researchers with specific areas of expertise to contact us to contribute to expanding the base of knowledge. If you would like to add cases, please contact us.
%p As the database expands, we expect more leads and sources to come from people in other parts of the world. We specifically invite academic researchers and environmental justice organizations to get in touch with us to explore collaboration to increase the range of cases and analysis.
%p While we try to provide the most updated information about all cases, encouraging activists and researchers to edit the cases sheets as soon as new important events occur. Given the large coverage we already have, this might require some time. Please, feel free to comment under the cases if you deem it necessary or email us if you find any update is needed.

%h3 How can I get involved?
%p 
  Like us on 
  %a{:href=>"https://www.facebook.com/ejolt"} Facebook, 
  sign up for our 
  %a{:href=>"http://eeb.us2.list-manage.com/profile?u=19d3da1852472c315fcece5dd&id=458e018126&e="} newsletter
%p Please use and share the resources in our resource library and our blog
%p Tell us what you think: comment on the cases: More evidence and data is needed to help to continuously update and improve the quality of the data”.
%p 
  If you have information about a conflict not included on the map, you are invited to add it. You may register 
  %a{:href=>'http://ejatlas.org/accounts/new'} here.
%p We welcome collaborations on the creation of Featured Maps on specific issues. Please contact Leah Temper and Daniela Del Bene at ejoltmap@gmail.com
%p Share the website and maps and help be a part of a growing global movement for environmental and social justice.

