.container
  %br/
  -if current_account.privacy_accepted.nil?
    .row
      .col-sm-12
        %h4
          = I18n.t("emails.general.dear_var", account_name: current_account.name)
        %p
          %b= I18n.t("v.info.please_accept_privacy_policy_below")
  .row
    .col-sm-6
      %p
        In accordance with current EU Regulation 2016/679, we inform you that the personal data you provide to us will be processed for the 
        %b preparation of the EJAtlas
        – Global Atlas of Environmental Justice. 
      %p
        Processing of your data will be protected by your own consent. By pressing the 
        %b "SAVE" 
        button, you will consent to the treatment described above.  We also inform you that, except for legal obligation or express consent on your part, we will not transfer your data to third parties.  Likewise, we wish to inform you that at any time you can exercise the rights of access, rectification or deletion of data, as well as other rights recognized in this document and regulated in Regulation (EU) 2016/679. You can do so by sending an email with a copy of your ID to the following email address: 
        %b
          %a{:href=>"mailto:ejoltmap@gmail.com"} ejoltmap@gmail.com.
        Additional and detailed information on Data Protection on our website: 
        %b
          %a{:href=>"/legal#privacy",:target=>"_blank"} https://ejatlas.org/legal.
    .col-sm-6
      %p
        De conformidad con el vigente Reglamento (UE) 2016/679, informamos que los datos de carácter personal que nos proporcione se tratarán para lo siguiente: 
        %b Para la elaboración del Atlas de Justicia Ambiental.
      %p
        Dicho tratamiento de sus datos estará amparado en su propio consentimiento. Al pulsar el botón “ENVIAR”, el Usuario consiente el tratamiento arriba descrito.
      %p
        Asimismo, le informamos que, salvo obligación legal o consentimiento expreso por su parte, no cederemos sus datos a terceros.
      %p
        Igualmente, se informa al Usuario que en cualquier momento puede ejercitar los derechos de acceso, rectificación o supresión de datos, así como disponer de otros derechos reconocidos en el presente documento y regulados en el Reglamento (UE) 2016/679, enviando un correo electrónico con copia de su NIF a la siguiente dirección electrónica:
        %b
          %a{:href=>"mailto:ejoltmap@gmail.com"} ejoltmap@gmail.com.
        Información adicional y detallada sobre Protección de Datos en nuestra página web:
        %b
          %a{:href=>"/legal#privacy",:target=>"_blank"} https://ejatlas.org/legal.

  -if current_account.privacy_accepted.nil?
    .row
      .col-sm-4
        &nbsp;
      .col-sm-4
        %br/
        %button.btn.btn-info{:onclick=>"privacyAccepted();",:style=>"width:100%;font-size:16px"}= t("f.account.i_accept_privacy_policy")
      .col-sm-4
        &nbsp;
-content_for :body_end do
  :javascript
    function privacyAccepted() {
      $.post("/accept_privacy",{redirect:window.location.search,account_id:#{current_account.id}},function(data){
        data = JSON.parse(data);
        if (data.status == "success") {
          window.location = window.location.origin+"/"+data.return;
        } else {

        }
      })
    }
