-#coding: utf-8
.tagline
  .ejolt-logo
  %p= $pagedesc
-2.times do
  %br/

%h1 Contact
%p For press enquiries and questions about EJatlas please email Leah Temper at leah [dot] temper [at] gmail [dot] com
%p
  To collaborate in the mapping process please email Daniela del Bene and Leah Temper at 
  %a{:href=>'mailto:ejoltmap@gmail.com'}ejoltmap@gmail.com



-content_for :sidebar do
  =partial("base/sidebar")

