-#coding: utf-8
%h2 Collaborators
%p
  %a{:href=>'http://icta.uab.es/',:target=>'_blank'} ICTA-UAB Institute for Environmental Science and Technology, Autonomous University of Barcelona
  %br/
  %a{:href=>'http://www.conflictosmineros.net/',:target=>'_blank'} OCMAL-Observatorio de Conflictos Mineros de América Latina
  %br/
  %a{:href=>'http://www.ensp.fiocruz.br',:target=>'_blank'} FIOCRUZ - Fundação Oswaldo Cruz
  %br/
  %a{:href=>'http://www.cdca.it/',:target=>'_blank'} Centro Documentazione Conflitti Ambientali, Italy
  %br/
  %a{:href=>'http://www.zazemiata.org',:target=>'_blank'} Za Zemiata, Bulgaria
  %br/
  %a{:href=>'http://cinara.univalle.edu.co/',:target=>'_blank'} Mario Alejandro Perez Rincon, Universidad del Valle-CINARA Institute, Colombia
  %br/
  %a{:href=>'http://www.conflictosmineros.net/',:target=>'_blank'} Accion Ecologica, Ecuador
  %br/
  %a{:href=>'http://www.criirad.org/',:target=>'_blank'} CRIIRAD - Commission de Recherche et d’Information Indépendantes sur la RADioactivité, France
  %br/
  %a{:href=>'http://ccs.ukzn.ac.za/',:target=>'_blank'} Centre for Civil Society, University of Kwazulu Natal, South Africa
  %br/
  %a{:href=>'http://www.jnu.ac.in/',:target=>'_blank'} Jawaharlal Nehru University, India
  %br/
  %a{:href=>'http://www.grain.org/',:target=>'_blank'} GRAIN
  %br/
  %a{:href=>'http://www.boun.edu.tr/tr_TR',:target=>'_blank'} BOG – Bogazici University
  %br/
  %a{:href=>'http://www.eeb.org/',:target=>'_blank'} European Environmental Bureau
  %br/
  %a{:href=>'http://www.wrm.org.uy',:target=>'_blank'} World Rainforest Movement
  %br/
  %a{:href=>'http://www.uvsq.fr/',:target=>'_blank'} REEDS – International Centre for Research in Ecological Economics, Eco-Innovation and Tool Development for Sustainability, University of Versailles, France
  %br/
  %a{:href=>'http://www.naturekenya.org',:target=>'_blank'} Nature Kenya
  %br/
  %a{:href=>'http://www.alliancevoaharygasy.mg/',:target=>'_blank'} Alliance Voahary Gasy, Madagascar
  %br/
  %a{:href=>'http://www.cfjmalawi.org/',:target=>'_blank'} Citizens For Justice, Malawi
  %br/
  %a{:href=>'http://www.udg.mx/',:target=>'_blank'} Observatorio de Conflictos Socioambientales en el Occidente de Mexico
  %br/
  %a{:href=>'http://www.ciga.unam.mx/ciga/',:target=>'_blank'} Grupo de trabajo paisajes mineros en M’©xico
  %br/
  Boa Monjane, Via Campesina
  %br/
  %a{:href=>'http://www.ejolt.org/2011/09/eln/',:target=>'_blank'} Earthlife Namibia
  %br/
  %a{:href=>'http://www.eraction.org/',:target=>'_blank'} Environmental Rights Action, Nigeria
  %br/
  %a{:href=>'http://www.oilwatch.org/',:target=>'_blank'} Oil Watch International
  %br/
  %a{:href=>'http://www.focus.si',:target=>'_blank'} FOCUS Association for Sustainable Development, Slovenia
  %br/
  %a{:href=>'http://www.uni-klu.ac.at/socec/inhalt/1.htm',:target=>'_blank'} IFF - Social Ecology Vienna
  %br/
  %a{:href=>'http://conflitosambientaismg.lcc.ufmg.br/',:target=>'_blank'} Carolina Herrmann C.S. and Vanessa Samora, Grupo de Estudos em Temáticas Ambientais da Universidade Federal de Minas Gerais, Brazil
  %br/
  %a{:href=>'http://www.cedat.cat',:target=>'_blank'} CEDAT-The Tarragona Centre for Environmental Law Studies, Universitat Rovira I Virgili
  %br/
  %a{:href=>'http://www.fundacioent.cat/',:target=>'_blank'} Gabriel Weber, Germany
  %br/
  Alfred Burballa Noria
  %br/
  %a{:href=>'http://www.lunduniversity.lu.se/',:target=>'_blank'} Lund University, Sweden
  %br/
  %a{:href=>'http://www.ids.polsci.chula.ac.th//',:target=>'_blank'} Carl Middleton, Chulalongkorn University, Thailand
  %br/
  %a{:href=>'http://www.business-humanrights.org',:target=>'_blank'} Business and Human Rights, UK
  %br/
  %a{:href=>'http://www.snre.umich.edu/',:target=>'_blank'} Alejandro Colsa, Bernadette Grafton, Katy Hintzen and Sara Orvis, School of Natural Resources and Environment, University of Michigan
  %br/
  %a{:href=>'http://www.seri.de',:target=>'_blank'} Sustainable Europe Research Institute, Germany
  %br/
  %a{:href=>'http://soshalkidiki.wordpress.com/',:target=>'_blank'} SOS Halkidiki, Greece
  %br/
  %a{:href=>'http://www.crsassociation.org/',:target=>'_blank'} Gyorgy Malovics, Hungary
  %br/
  %a{:href=>'http://www.kcl.ac.uk/sspp/departments/geography/people/phdstudents/epd/HealyHali.aspx',:target=>'_blank'} Hali Healy, University College London
  %br/
  %a{:href=>'http://www.teriuniversity.ac.in/index.php?option=com_faculty&task=aboutcv&fid=S086',:target=>'_blank'} Julien-Francois Gerber, TERI University, India
  %br/
  %a{:href=>"http://eradicatingecocide.com",:target=>"_blank"} Eradicating Ecocide campaign 
  %br/
  %a{:href=>"http://www.geog.ox.ac.uk/staff/alorawainwright.html",:target=>"_blank"} Dr Anna Lora-Wainwright, 
  Associate Professor in the Human Geography of China, University of Oxford and Oxford EJOLT team, UK
  %br/
  Giuseppina Siciliano, Centre for Development, Environment and Policy (CeDEP), School of Oriental and African Studies (SOAS), UK
  %br/
  Grettel Navas,
  %a{:href=>"http://www.neotropica.org/",:target=>"_blank"}  Fundación Neotrópica, 
  Costa Rica
  %br/
  Patrizia Heidegger, 
  %a{:href=>"http://www.shipbreakingplatform.org/",:target=>"_blank"} NGO Shipbreaking Platform
  %br/
  Anitra Nelson, RMIT University, Melbourne, Australia
  %br/
  Lena Weber, Human Ecology Division, Department of Human Geography, Lund University, Sweden
  %br/
  Jovanka Spiric, ICTA - Universitat Autonoma Barcelona, Spain
  %br/
  Vladimir Mrkajic, University of Novi Sad, Serbia
  %br/
  Ana Novkovic, Environmental activist, Serbia
  %br/
  Milica Mancic, Environmental activist, Serbia
  %br/
  Geography  Department - Harokopio University Athens (HUA), Greece
  %br/
  Marianna Stori, 
  %a{:href=>"http://www.cdca.it/",:target=>"_blank"} Centro di Documentazione sui Conflitti Ambientali, 
  Italy
  %br/
  Center for Mineral Technology (CETEM/MCTI), Brazil
  %br/
  %a{:href=>"http://www.ces.uc.pt/index.php?id_lingua=2",:target=>"_blank"} Center for Social Studies (CES), 
  Portugal
  %br/
  %a{:href=>"http://pascal.iseg.ulisboa.pt/~socius/home_uk.html",:target=>"_blank"} RESEARCH CENTRE IN ECONOMIC AND ORGANIZATIONAL SOCIOLOGY (SOCIUS),
  Portugal
  %br/
  %a{:href=>"http://www.cetem.gov.br/",:target=>"_blank"} Center for Mineral Technology (CETEM/MCTI), 
  Brazil
  


  %br/
  Maria Pinzon, 
  %a{:href=>"http://censat.org/",:target=>"_blank"} CENSAT Agua Viva, 
  Colombia
  %br/
  Natalia Finogenova, Technische Universität Berlin, Germany

%h2 Credits
%p
  <strong>EJatlas editors:</strong> Leah Temper, Daniela del Bene, Joan Martinez-Alier
  %br/
  <strong>Technical editor &amp; GIS:</strong> Lucia Arguelles
  %br/
  <strong>Website Programming &amp; Design:</strong> Yakup Çetinkaya
  %br/
  <strong>EJatlas Project Manager:</strong> Leah Temper
  %br/
  <strong>EJOLT Coordinators:</strong> Joan Martínez Alier, Beatriz Rodríguez Labajos and Leah Temper

