-#coding: utf-8
.tagline
  .ejolt-logo
  %p= $pagedesc
-3.times do
  %br/

%p The website of EJATLAS and our inventories and maps of environmental conflicts are outputs of EJOLT, Environmental Justice Organisations, Liabilities and Trade,  an FP7 Science in Society project coordinated by Prof. Joan Martinez Alier at the Autonomous University of Barcelona and funded by the European Commission that runs from 2011 to 2015. EJOLT brings together academics and activists to promote environmental justice.
%p The website is committed to ensure the privacy of all users. This policy applies to all pages of the website, but it does not apply to the pages of other organizations. Although we include links to these websites, their privacy policies could be different.
%p The EJOLT project (2011-15) has received funding from the European Union’s Seventh Framework Programme for research, technological development and demonstration under grant agreement no 266642. The views and opinions expressed in the website and in all EJOLT publications and documentaries including the Atlas reflect the authors’ view and the European Union is not liable for any use that may be made of the information contained therein.
%h3 What kind of information we collect?
%p The type and quantity of information we receive and keep depend on all EJOLT partners and collaborators, a wide network of activists and scholars. You can access to most of our pages without telling who you are or revealing any personal data. Our web servers collect anonymous records during visits by users to the site. We don't collect any personally identifiable data (such as name, address, telephone number or e-mail) on our website unless the user chooses himself to provide them, for example by participating in the mapping or by subscribing to our newsletter. These personal details are confidential and we keep them safely; they will used only when necessary for the purpose for which they were provided.
%h3 The contents of the page
%p The contents of the page have been done mainly by the UAB Ejolt team and by independent researchers and activists. They are licenced under Creative Commons. That means that you cannot copy or reproduce these contents for profit purposes and you always need to give appropriate credit if you use that information for any purpose. 
%p Substantial efforts are made to ensure accuracy. However, Ejolt does not guarantee that all the information on this website is complete, accurate and updated for the very nature of Ejolt topics. We warmly welcome comments on the accuracy of data displayed; therefore, the information is inherently subject to change without notice and may become outdated. Only data which have gone through a moderation process are publicly available on this website. Moderation entails an error-checking process and updating of status of projects and conflicts.
%p If you notice inaccuracies, dead website links or have more information to add to conflicts and projects, please contact us or write comments. The representation of facts and interpretations expressed herein cannot be taken as official opinions of Ejolt partners and collaborators.

-content_for :sidebar do
  =partial("base/sidebar")

