-#coding: utf-8
%h1 Disclaimer
%p The website of EJATLAS and our inventories and maps of environmental conflicts are supported by the  ENVJUST project (European Research Council Advanced Grant 2016-2021), directed by Joan Martinez-Alier and the ACKnowl-EJ (Academic-Activist Co-Production of Knowledge for Environmental Justice, 2015-2018) directed by Leah Temper and Ashish Kothari and funded by the Transformations to Sustainability Programme, which is coordinated by the International Social Science Council and funded by the Swedish International Development Cooperation Agency (Sida), and implemented in partnership with the National Research Foundation of South Africa (Grant Number TKN150317115354). The Transformations to Sustainability Programme represents a contribution to Future Earth. Both projects are coordinated from the Institute of Environmental Science and Technology (ICTA) at the Universitat Autonoma de Barcelona. 
%p The Atlas was initiated in EJOLT, Environmental Justice Organisations, Liabilities and Trade, an FP7 Science in Society project funded by the European Commission that ran from 2011 to 2015. 
%p The website is committed to ensure the privacy of all users. This policy applies to all pages of the website, but it does not apply to the pages of other organizations. Although we include links to these websites, their privacy policies could be different. The views and opinions expressed in the website reflect the authors’ view and the funding agencies are not liable for any use that may be made of the information contained therein.
%p 
  This data set is made available under the terms of the 
  %strong Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported
  license. You are free use the work for noncommercial purposes only, with attribution given to the EJatlas and a link to this page. Resulting work must be distributed under the same license or one similar. If you wish to use the data for academic publications please cite as follows: 
%ul.nosytle
  %li Leah Temper, Daniela del Bene and Joan Martinez-Alier. 2015. Mapping the frontiers and front lines of global environmental justice: the EJAtlas. Journal of Political Ecology 22: 255-278. 
%p 
  You may find the full article explaining the methodology and aims of the atlas here: 
  %a{:href=>"http://jpe.library.arizona.edu/volume_22/Temper.pdf"} http://jpe.library.arizona.edu/volume_22/Temper.pdf
%h3 What kind of information we collect?
%p The type and quantity of information we receive and keep depend on our partners and collaborators, a wide network of activists and scholars. You can access to most of our pages without telling who you are or revealing any personal data. Our web servers collect anonymous records during visits by users to the site. We don't collect any personally identifiable data (such as name, address, telephone number or e-mail) on our website unless the user chooses himself to provide them, for example by participating in the mapping or by subscribing to our newsletter. These personal details are confidential and we keep them safely; they will used only when necessary for the purpose for which they were provided.
%h3 The contents of the page
%p The contents of the page have been done mainly by the ICTA-UAB team and by independent researchers and activists. They are licenced under Creative Commons. That means that you cannot copy or reproduce these contents for profit purposes and you always need to give appropriate credit if you use that information for any purpose.
%p Substantial efforts are made to ensure accuracy. However, EJatlas does not guarantee that all the information on this website is complete, accurate and updated. Each case has a date indicating when it was last updated. We warmly welcome comments on the accuracy of data displayed; therefore, the information is inherently subject to change without notice and may become outdated. Only data which have gone through a moderation process are publicly available on this website. Moderation entails an error-checking process and updating of status of projects and conflicts.
%p If you notice inaccuracies, dead website links or have more information to add to conflicts and projects, please contact us or write comments. The representation of facts and interpretations expressed herein cannot be taken as official opinions of EJatlas partners and collaborators.

-content_for :sidebar do
  =partial("base/sidebar")

