-#coding: utf-8
%h1 Kullanıcı Sözleşmesi
%h3 1.Taraflar: 
%p
  %strong 1.a
  %a{:href=>"www.cevreadaleti.org"} www.cevreadaleti.org
  (bundan böyle 
  %strong "Çevre Adaleti" 
  olarak anılacaktır) kar amacı gütmeyen bir sosyal ağ inisiyatifi olup Türkiye Cumhuriyeti kanun ve mevzuatlarına uygun olarak Kullanıcı'larına hizmet vermeyi amaçlamaktadır. 
%p
  %strong 1.b
  Hizmetten Yararlanabilecekler (
  %strong "Kullanıcı"
  olarak anılacaktır.) 
%p
  Medeni hakları kullanmaya ehil tüm gerçek ve tüzel kişiler Çevre Adaleti'nin sunduğu hizmetlerden yararlanabilir.18 yaşını doldurmamış veya reşit olmayan, kısıtlı ve temyiz kudretine sahip olmayan kullanıcılar ancak veli veya kanuni temsilcileri vasıtasıyla işlem yapabilirler. Kullanıcı’nın, Çevre Adaleti intranet sisteminde aktif olmaları için gerçek ad ve soyad ve e-posta adresi bilgilerini sisteme girmeleri gerekmektedir. Kullanıcı kendisi tarafından ifşa edilen tüm bilgiler ve kişisel verilerin Çevre Adaleti sistemi içinde kullanımına, işlenmesine ve Çevre Adaleti intranetindeki serbest dolaşımına onay vermektedir. Ancak, bu bilgiler kişinin isteği dışında açıkça gösterilmez.   
%p
  İşbu Sözleşme'de Çevre Adaleti ve Kullanıcı ayrı ayrı 
  %strong "Taraf" 
  ve 
  %strong "Taraflar"
  olarak anılacaklardır. 
%p
  Bu sitede yer alan hizmetlerden yararlanmayı talep eden kişiler ("Kullanıcı") işbu "Kullanıcı Sözleşmesi'nde" yer alan hüküm ve şartların tamamını anladığını beyan ve kabul eder. www.cevreadaleti.org ("Çevre Adaleti") sitesinde sunulan hizmetlerden yararlanan Kullanıcı işbu Kullanıcı Sözleşmesi'nde yer alan beyan ve taahhütleri yerine getirmek ile yükümlü olup site kullanımına ilişkin Çevre Adaleti tarafından verilen talimatlar doğrultusunda hareket edeceğini taahhüt eder. Burada yer alan hüküm ve şartların Kullanıcı tarafından kabul edilmemesi halinde Çevre Adaleti, Kullanıcı'nın hesabını derhal etkinsizleştirecektir. 
%p
  Çevre Adaleti işbu Kullanıcı Sözleşmesi'nde ve sitede yer alan talimatlarda önceden haber vermeksizin dilediği zaman dilediği değişikliği yapma hakkını saklı tutar. Söz konusu değişiklikler sitede yayınlandıkları andan itibaren geçerli ve bağlayıcıdır. Site veya talimatlarda yapılan değişiklikleri takip etmek Kullanıcı'nın sorumluluğunda olup değişikliklerle ilgili Çevre Adaleti'nin Kullanıcı'ya ayrıca bir bildirimde bulunma yükümlülüğü yoktur. Kullanıcı, Çevre Adaleti'nde yer alan hizmetlerden yararlanmaya devam etmekle birlikte, yer alan değişiklikleri hiçbir şarta bağlı olmaksızın peşinen kabul eder. 
%h3
  2. Sözleşmenin Konusu 
%p
  İşbu Sözleşme Çevre Adaleti'nin www.cevreadaleti.org  adresi üzerinden sağlayacağı hizmetine (blog, açık demokrasi ağı, veritabanı şeklinde genişletilebilir) ilişkin Tarafların hak ve yükümlülüklerine dair hükümleri düzenlemektedir. İşbu Sözleşme, tüm  hakları Çevre Adaleti'ne ait bulunan www.cevreadaleti.org  web sitesine (“Site”) Kullanıcı tarafından giriş yapılmasıyla, Kullanıcı'nın, Site'de yer alan “Sözleşmeyi okudum ve kabul ettim.” kutucuğunu işaretlemesi ile kurulacaktır. 
%h3
  3. Tarafların Hak ve Yükümlülükleri 
%h4
  3.1. Çevre Adaleti'nin Hak ve Yükümlülükleri 
%p
  %strong 3.1.a
  Çevre Adaleti'nin kurulan intranet ve sosyal ağ içerisinde Kullanıcı veya sair kişileri temsil yetkisi yoktur. Çevre Adaleti Kullanıcı tarafından Site üzerinden sağlanan içerik hususunda hiçbir sorumluluk kabul etmez ve kendiliğinden içeriğin uygunluğu hususunda bir denetim yapmak ile mükellef değildir. 
%p
  %strong 3.1.b
  Çevre Adaleti'ne iletilen veya Site üzerinden Kullanıcı tarafından yüklenen, değiştirilen veya sağlanan bilgi ve içeriklerin doğruluğunu araştırma, bu bilgi ve içeriklerin güvenli, doğru ve hukuka uygun olduğunu taahhüt ve garanti etmekle yükümlü ve sorumlu olmadığı gibi, söz konusu bilgi ve içeriklerin yanlış veya hatalı olmasından dolayı ortaya çıkacak hiçbir zarar ve/veya hukuku itilaf halinde sorumlu tutulamaz. 
%p
  %strong 3.1.c
  Çevre Adaleti Sitesi’nin amacı ve işleyişi dışındaki durumlar hariç kalmak üzere ilgili mevzuat ve kanunlar gereği kişisel verileri koruyacak ve 3. kişilerle paylaşmayacağını taahhüt etmektedir. Kişisel bilgiler, kişi adı-soyadı, adresi, telefon numarası, cep telefonu, e-posta adresi gibi kullanıcıyı tanımlamaya yönelik her türlü diğer bilgiyi içermekte olup, kısaca "Gizli Bilgiler" olarak anılacaktır. Çevre Adaleti bu Sözleşme hükümleri kapsamında, Gizli Bilgiler'i özel ve gizli tutmayı, bunu bir sır saklama yükümlülüğü olarak addetmeyi ve gizliliğin sağlanması ve sürdürülmesi, gizli bilginin tamamının veya herhangi bir kısmının kamu alanına girmesini veya yetkisiz kullanımını veya üçüncü bir kişiye ifşasını önlemek için gerekli tedbirleri almayı ve gerekli özeni göstermeyi taahhüt etmektedir. 
%p
  Çevre Adaleti'nin gerekli ve taahhüt etmiş olduğu bilgi güvenliği önlemlerini almasına karşın, www.cevreadaleti.org  sitesine ve sisteme yapılan saldırılar sonucunda gizli bilgilerin zarar görmesi veya üçüncü kişilerin eline geçmesi ve Kullanıcı’nın zarar görmesi durumunda, Çevre Adaleti'nin herhangi bir sorumluluğu bulunmamaktadır. Gizli Bilgiler ancak resmi makamlarca usulü dairesinde bu bilgilerin talep edilmesi halinde ve yürürlükteki emredici mevzuat hükümleri gereğince resmi makamlara açıklama yapmak zorunda olduğu durumlarda resmi makamlara açıklanacaktır. 
%p
  %strong 3.1.d
  Çevre Adaleti, Kullanıcılar'ın siteyi kullanımlarına dair bilgileri, teknik ve anonim bir iletişim   dosyasını (kurabiye-cookie) kullanarak elde edebilir. Ancak, Kullanıcılar dilerlerse teknik iletişim dosyasının gelmemesi veya teknik iletişim dosyası gönderildiğinde ikaz verilmesini sağlayacak biçimde, tarayıcı ayarlarını değiştirebilirler. Tarayıcı ayarlarının Kullanıcı tarafından değiştirilmesi sonucunda oluşacak zarar veya itilaftan ötürü Çevre Adaleti’nin bir yükümlülüğü bulunmamaktadır. 
%h4
  3.2. Kullanıcı'nın Hak ve Yükümlülükleri 
%p
  %strong 3.2.a
  Kullanıcı, Site’ye vereceği ve yükleyeceği her türlü içerik, bilgi, belge, görsel ve benzeri malzemenin doğru olduğunu ve şahsına ait olduğunu taahhüt eder. Bu hususu Çevre Adaleti'nin ayrıca başka bir yazılı belge ile  teyit etme sorumluluğu bulunmamaktadır. Fikri mülkiyet hakları açısından tüm sorumluluğun kendinde olduğunu kullanıcı taahhüt eder; Çevre Adaleti’nin bu konuda bir sorumluluğu bulunmamaktadır. 
%p
  %strong 3.2.b
  Kullanıcı'nın Site’ye yükleyeceği her türlü içerik, bilgi, belge, görsel ve benzeri malzemenin doğruluğu ve hak sahipliği bakımından her türlü sorumluluk kullanıcıda olup, Kullanıcı, aksi bir durumun tespiti halinde her türlü sonuca katlanacağını kabul, beyan ve taahhüt eder. Kullanıcı belirttiği bilgiler kapsamında hizmet alacağını kabul ve beyan eder. 
%p
  %strong 3.2.c
  Kullanıcı'nın, işbu Sözleşme çerçevesinde Çevre Adaleti ağından hizmet alabilmesi için; gerçek kişilerin nüfus cüzdanındaki ad-soyad ile ve tüzel kişilerin ise ticaret ünvanları ile şirket merkezlerinin adreslerini, sisteme girmesi gerekmektedir. Kullanıcı'nın başkaları yararına veya adına Çevre Adaleti sistemine Kullanıcı olarak giriş yapması mümkün değildir. 
%p
  %strong 3.2.d
  Kullanıcı, Site'de sorulan tüm bilgileri tam ve doğru olarak vereceğini kabul, beyan ve taahhüt eder. Kullanıcı adı ve şifresi kullanılarak yapılan tüm işlemlerin sorumluluğu Kullanıcı'ya aittir. Bu nedenle, Kullanıcı söz konusu kullanıcı adı ve şifreyi güvenli bir şekilde saklamalı, üçüncü kişilerle hiçbir şekilde paylaşmamalı, gerektiğinde kullanıcı adı ve şifrenin değiştirilmesi için Çevre Adaleti'ne başvurmayı veya gerekli işlemi Site içindeki ilgili alanda kendisi yapmalıdır. 
%p
  %strong 3.2.e
  Kullanıcı, Site dahilinde kendileri tarafından sağlanan her türlü içerik, bilgi, belge, görsel ve benzeri malzemenin doğru ve hukuka uygun olduğunu kabul, beyan ve taahhüt ederler. Haksız menfaat elde etmek için doğru olmayan beyanlarda bulunmak, kimlik bilgilerini gerçeğe aykırı beyan etmek gibi eylemler cezai sorumluluklar doğurur. Çevre Adaleti, bu tür davranışlara engel olmak için siteye girişi yasaklamak,süregelen işlemleri iptal ve/veya durdurma, yetkili mercilere bildim ve şikayette bulunmak v.b. gibi uygun göreceği tedbirleri almaya yetkilidir. Site üzerinden sunulan içeriği ve çeşitli hizmetleri kullanan Kullanıcı, yalnızca hukuka uygun, şahsi veya kurumsal amaçlarla işlem yapabilir. Kullanıcı'nın www.cevreadaleti.org 'da yaptığı işlem ve sağladığı içerikten doğan hukuki ve cezai sorumluluk kendisine aittir. 
%p
  %strong 3.2.f
  Kullanıcı, Çevre Adaleti ve/veya başka bir üçüncü şahsın haklarına tecavüz teşkil edecek nitelikte ve yürürlükteki sair yasa ve mevzuata aykırı herhangi bir iş ve eylemde bulunmayacağını, yazılı, görsel ve işitsel bilgileri açıklamayacağını, kabul, beyan ve taahhüt eder. 
%h3
  4. Fikri Mülkiyet Hakları 
%p
  İşbu Site yazılıma dair her türlü hakkı; Site'de yer alan unvan, işletme adı, marka, patent, logo, tasarım, metin, imge, ikon, bilgi ve yöntem gibi tescilli veya tescilsiz tüm fikri mülkiyet hakları Çevre Adaleti'ne aittir ve ulusal ve uluslararası hukukun koruması altındadır. İşbu sitenin ziyaret edilmesi veya bu sitedeki hizmetlerden yararlanılması söz konusu fikri mülkiyet hakları konusunda Kullanıcı'ya hiçbir hak vermez. Kullanıcı, anılan Site'yi ziyaret etmek veya kullanmakla anılan fikri mülkiyet haklarını ihlal etmemeyi kabul, beyan ve taahhüt eder. Çevre Adaleti'nin, www.cevreadaleti.org  üzerinden sağladığı hizmetleri, www.cevreadaleti.org  bilgileri, www.cevreadaleti.org  telif haklarına tâbi çalışmalar veya Site vasıtasıyla sahip olduğu her tür maddi ve fikri mülkiyet hakları da dahil tüm malvarlığı, aynı ve şahsi hakları ve bilgi ve deneyim birikimine (know-how) yönelik tüm hakları saklıdır. Çevre Adaleti, Kullanıcı'nın Site ya da e-posta ile ilettiği görüş ve önerileri istediği gibi kullanma hakkına sahiptir. Kullanıcı, Site’ye yüklediği her türlü içerik, bilgi, belge, görsel ve benzeri malzemenin üçüncü kişilerin fikri mülkiyet haklarını ihlal etmediğini taahhüt eder, aksi halde ortaya çıkacak herhangi bir hukuki itilaf halinde Çevre Adaleti, kesinlikle sorumlu olmayacaktır. Kullanıcı ilettiği görüş ve önerileri için her hangi bir hak talebinde bulunmayacağınızı peşinen kabul, beyan ve taahhüt eder. Sitede yer alan bilgilerin Çevre Adaleti’nin bilgisi ve izni haricinde, ticari amaçlarla çoğaltılması, başka bir lisana çevrilmesi, saklanması veya herhangi bir işleme tutulması da dahil herhangi bir şekilde kullanılması yasaktır.   Sitede yer alan bilgiler Çevre Adaleti'nin yazılı izni olmadan hiçbir şekilde yayınlanamaz, kopyalanamaz, sunulamaz ve/veya aktarılamaz. Site'nin bütünü veya bir kısmı diğer bir web sitesinde Çevre Adaleti'nin yetkilendirme ve izni olmaksızın kullanılamaz. 
%h3
  5. Sözleşme Değişiklikleri 
%p
  Çevre Adaleti, işbu Sözleşme'yi ve bu Site'deki diğer talimatlarda dilediği zaman dilediği değişiklikleri yapma hakkını saklı tutar. Söz konusu değişiklikler işbu sitede yayınlandıkları tarihlerden itibaren geçerli ve bağlayıcı olacaktır. Değişiklikleri takip etmek Kullanıcı'nın sorumluluğundadır. Çevre Adaleti'nin değişiklikleri Kullanıcı'ya ayrıca bildirme yükümlülüğü yoktur. Kullanıcı, www.cevreadaleti.org  hizmetlerinden yararlanmaya devam etmekle bu değişiklikleri de kabul etmiş sayılır. 
%h3
  6. Bağlantılar 
%p
  Site, içeriği Çevre Adaleti tarafından kontrol edilmeyen başka web sitelerine taşıyan bağlantılar içerebilir. Bağlantı verilmiş olan bu web siteleri, bu sözleşmede belirtilen gizlilik hükümlerinden farklı koşullar içerebilir. Bu web sitelerinin toplayabileceği kişisel bilgilerin derlenmesi, kullanımı veya ifşa edilmesinden Çevre Adaleti sorumlu değildir. Site kullanımı esnasında oluşabilecek herhangi bir hata, kesinti, bilgi naklinde gecikme, bilgisayar virüsü, hat ve elektrik arızası sonucunda ortaya çıkabilecek doğrudan veya dolaylı zarar, ziyan ve masraflardan Çevre Adaleti sorumlu değildir. Benzer biçimde başka sitelerden Çevre Adaleti'nin izni olsun ya da olmasın Site'ye bağlantı verildiğinde de, bu tür bağlantıların kontrol edilememesinden kaynaklanan yapı nedeniyle Çevre Adaleti'nin herhangi bir sorumluluğu bulunmamaktadır. 
%h3
  7. Mucbir Sebepler 
%p
  Hukuken mücbir sebep sayılan tüm hallerde, Çevre Adaleti, işbu Sözleşme ile belirlenen yükümlülüklerinden herhangi birini geç veya eksik ifa etme veya ifa etmeme nedeniyle yükümlü değildir. Bu ve bunun gibi durumlar, Çevre Adaleti için, gecikme, eksik ifa etme veya ifa etmeme veya temerrüt addedilmeyecek veya bu durumlar için Çevre Adaleti'nden herhangi bir nam altında tazminat talep edilemeyecektir. "Mücbir sebep" terimi, siber saldırı, doğal afet, isyan, savaş, grev, iletişim sorunları, altyapı ve internet arızaları, elektrik kesintisi ve kötü hava koşulları da dahil ve fakat bunlarla sınırlı olmamak kaydıyla, ilgili tarafın makul kontrolü haricinde, önceden öngörülemeyen ve gerekli özeni göstermesine rağmen önleyemediği, kaçınılamayacak olaylar olarak yorumlanacaktır. 
%h3
  8. Sair Hususlar 
%p
  Çevre Adaleti, talep edilen bir hizmeti yasal zorunluluk olmamak kaydı ile vermeyi kabul edip etmemekte tamamen serbesttir. www.cevreadaleti.org  sitesinde bağlantı verilen diğer kişi ve kuruluşlarla Çevre Adaleti'nin bir hukuki ilişkisi veya ortaklığı veya iştiraki bulunmamakta olup, Çevre Adaleti bu kişi ve kuruluşların edimlerini, güvenilirliklerini taahhüt etmez; onlar adına hareket ettiği onları temsil ettiği, onların iş ortağı olduğu veya onlara herhangi bir konuda yetki verdiği ya da bunlar nam ve hesabına hareket ettiği anlamına gelmez. Bu nedenle, Çevre Adaleti anılan kişi/kişiler/kurumların eylem ve işlemlerinden sorumlu değildir. Çevre Adaleti tarafından doğrudan doğruya verilmeyen hiç bir taahhüt Çevre Adaleti için bağlayıcı değildir. Çevre Adaleti, Site’deki bilgilerden, üçüncü kişiler tarafında www.cevreadaleti.org ’a yansıtılmayan bilgilerden/bilgi değişikliklerinden; sitenin kullanılması nedeni ile Kullanıcı'nın bilgisayarına giren virüs vb. sair internet tehlikelerinden dolayı sorumlu değildir. Bu internet sitesinin kullanımı sırasında herhangi bir arıza, hata, eksiklik, kesinti, nakilde gecikme, bilgisayar virüsü, hat veya sistem arızası ya da mücbir sebepler sonucu doğrudan veya dolaylı ortaya çıkan zarar, ziyan, hukuki itilaf ve masraflar da dahil ve bunlarla sınırlı olmamak üzere herhangi bir zarardan Çevre Adaleti veya Çevre Adaleti gönüllüleri ortaya çıkan veya çıkması muhtemel zarardan haberdar edilmiş olsalar dahi sorumlu olamazlar. Bu bilgiler doğrultusunda Çevre Adaleti bu sitenin içeriğinde yer alan bilgilerden ve görsel malzemeden kaynaklanabilecek hatalardan, maddi veya manevi zarar ve hukuki itilaflardan hiç bir şekilde sorumlu değildir. Çevre Adaleti, dilediği zaman sitenin herhangi bir bölümünü iptal edebilir, değiştirebilir ya da haber vermeksizin sitedeki bazı özelliklere ve bilgilere veya sitenin bazı bölümlerine erişimi sınırlandırabilir. Çevre Adaleti, Site’nin virüs koruması önlemlerini almış olmakla birlikte bu konuda bir garanti vermemektedir. Kullanıcı, virüslerden korunma konusunda gerekli önlemleri alması gerekmektedir. 
%h3
  9. Uygulanacak Hukuk ve Yetki 
%p
  İşbu Kullanıcı Sözleşmesi'nin uygulanmasında, yorumlanmasında ve hükümleri dahilinde doğan hukuki ilişkilerin yönetiminde Türk Hukuku uygulanacaktır. İşbu Kullanıcı Sözleşmesi'nden doğan veya doğabilecek her türlü ihtilafın hallinde, İstanbul Merkez Mahkemeleri ve İcra Daireleri yetkilidir. 
