-#coding:utf-8
.content
  %form{:method=>'POST',:action=>'/export'}
    .row
      .col-md-10.col-md-offset-2.clearfix
        %h2 Export cases
    .row
      .col-md-4.col-md-offset-2.clearfix
        %label Approval status
        %br/
        %input{:type=>'checkbox',:name=>'approved',:checked=>true} &nbsp; Approved
        %br/
        %input{:type=>'checkbox',:name=>'modified',:checked=>true} &nbsp; Modified
        %br/
        %input{:type=>'checkbox',:name=>'queued',:checked=>true} &nbsp; Queued
        %br/
        %input{:type=>'checkbox',:name=>'draft',:checked=>true} &nbsp; Draft
        %br/
        %input{:type=>'checkbox',:name=>'deleted',:checked=>false} &nbsp; Deleted
        %br/
        %label Order by
        %select{:name=>'order'}
          -{"id"=>"ID", "slug"=>"Slug", "created_at"=>"Date of creation", "updated_at"=>"Date of modification", "start_datestamp"=>"Start date", "end_datestamp"=>"End date", "approval_status"=>"Approval status", "contributor"=>"Contributor", "status_id"=>"Intensity of conflict", "reaction_id"=>"Reactionary stage", "project_status_id"=>"Project status", "success_level"=>"Success level", "accuracy_level"=>"Accuracy of location", "project_area"=>"Project area", "investment_sum"=>"Level of investment", "affected_people"=>"Affected population"}.each do |k,v|
            %option{:value=>k}= v
        %input{:type=>'radio',:name=>'ascdsc',:value=>'asc',:checked=>true} &nbsp; Ascending
        %br/
        %input{:type=>'radio',:name=>'ascdsc',:value=>'desc',:checked=>false} &nbsp; Descending
      .col-md-4
        %label Limit
        %input{:type=>'number',:name=>'limit',:style=>'width:40px !important'}
        %br/
      
        %label By Filter
        -if current_account.editor?
          -filters = Filter.order("updated_at desc")
        -else
          -filters = current_account.filters.order("updated_at desc")
        %select#filter{:type=>'text',:name=>'filter'}
          %option{:disabled=>true,:selected=>true} Please select a filter
          -filters.each do |f|
            %option{:value=>f.uid}= f.name || f.uid

        %label By featured map
        -if current_account.editor?
          -feats = Featured.order("updated_at desc")
        -else
          -feats = current_account.featureds.order("updated_at desc")
        %select#feat{:type=>'text',:name=>'feat'}
          %option{:disabled=>true,:selected=>true} Please select a featured map
          -feats.each do |f|
            %option{:value=>f.id}= f.name

        %input{:type=>'checkbox',:name=>'split',:checked=>true} &nbsp; Split values to columns
        %br/
        %br/
        %label File type
        %br/
        %input{:type=>'radio',:name=>'filetype',:value=>'ods',:checked=>true} &nbsp; ODS
        %br/
        %input{:type=>'radio',:name=>'filetype',:value=>'csv',:checked=>false} &nbsp; CSV
        %br/
    .row
      .col-md-4.col-md-offset-4.clearfix
        %br/
        %input.btn.btn-warning{:type=>'submit',:value=>'Export conflicts',:style=>"width:100%;"}

  %hr
  %form{:method=>'POST',:action=>'/export_companies'}
    .row
      .col-md-4.col-md-offset-4.clearfix
        %h2 Export companies
        %br/
        %input.btn.btn-warning{:type=>'submit',:value=>'Export companies',:style=>"width:100%;"}

-content_for :body_end do
  :javascript
    $("#filter").on("change",function(){
      $("#feat option:first").prop("selected","true")
    })
    $("#feat").on("change",function(){
      $("#filter option:first").prop("selected","true")
    })
