-#coding: utf-8
%h1 Frequently Asked Questions
%ul
  %li
    %a.faq{:href=>'#what-is-ejolt'} What is the EJOLT project?
  %li
    %a.faq{:href=>'#how-we-map'} How we map: a collaborative process
  %li
    %a.faq{:href=>'#how-you-define'} How do you define environmental conflicts?
  %li
    %a.faq{:href=>'#what-we-map'} What we map. What type of information can you find in the Atlas?
  %li
    %a.faq{:href=>'#who-is-it-for'} Who is the Atlas for?
  %li
    %a.faq{:href=>'#how-to-use'} How to use the map: Filter, browse, comment and make your own maps
  %li
    %a.faq{:href=>'#limitations-of-database'} What are the limitations of the database?
  %li
    %a.faq{:href=>'#why-not-everywhere'} Why don’t you have coverage in some regions/areas?
  %li
    %a.faq{:href=>'#moderation-process'} What is the moderation process?
  %li
    %a.faq{:href=>'#how-you-update'} How do you update the status of the cases, the actors involved, the outcomes produced?
  %li
    %a.faq{:href=>'#get-involved'} How can I get involved?
  %li
    %a.faq{:href=>'#geographical-info'} What kind of geographical information do you use?

%br/
%br/

%h3#what-is-ejolt What is the EJOLT project?

%p The Environmental Justice Organisations, Liabilities and Trade is an FP7 project supported by the European Commission that runs from 2011-2015. The project supports the work of Environmental Justice Organisations, uniting scientists, activist organisations, think-tanks, policy-makers from the fields of environmental law, environmental health, political ecology, ecological economics, to talk about issues related to Ecological Distribution. Central concepts are Ecological Debts (or Environmental Liabilities) and Ecologically Unequal Exchange. We focus on the use of these concepts in science and in environmental activism and policy-making.

%p The Action Plan of EJOLT comprises the production of databases, networking platforms, mutual casemstudy development, workshops, possible legal actions, policy papers, dissemination of best practices, round-table events, and training materials on environmental conflicts for EJOs, other stakeholders and policy-makers, geared to a key issue of great immediate interest to society, namely:

%p Which are the underlying causes of increasing ecological distribution conflicts at different scales, and how to turn such conflicts into forces for environmental sustainability?
%p 
  Find out more here: 
  %br/
  %a{:href=>'http://www.ejolt.org/project/'} http://www.ejolt.org/project/
  %br/
  %a{:href=>'http://cordis.europa.eu/news/rcn/36104_en.html '} http://cordis.europa.eu/news/rcn/36104_en.html 
%h3#how-we-map How we map: a collaborative process
 
%p The EJOLT Map is based on the work of our activist partners, who have been documenting environmental and social injustice and supporting communities on the ground for years. The collaborative process brings together 100 activists and scientists, who are deeply familiar with the cases.
 
%h3#how-you-define How do you define environmental conflicts?
 
%p Socio-environmental conflicts are defined as mobilizations by local communities or social movements against particular economic activities, whereby environmental impacts are a key element of their grievances.
 
%p These conflicts arise from structural inequalities of income and power. The communities make claims over rights related to the burdens of pollution (distribution), access to environmental resources and to a healthy environment (participation) and a voice in decision-making over the environment (recognition). Their action repertoire may include formal claim-making, petitions, meetings, demonstrations, boycotts, strikes, legal actions, civil disobedience, collective violence, international campaigns and other action forms. In the act of claiming redistributions, these conﬂicts are often part of, or lead to larger gender, class, caste and ethnic struggles.
 
%h3#what-we-map What we map: What type of information can you find in the Atlas?
%p The Ejolt project maps conflicts across 10 main categories:
%ul 
  %li Nuclear
  %li Mineral Ores and Building Extractions
  %li Waste Management
  %li Biomass and Land Conflicts
  %li Fossil Fuels and Climate Justice/Energy
  %li Water Management
  %li Infrastructure and Built Environment
  %li Tourism Recreation
  %li Biodiversity Conservation Conflicts
  %li Industrial and Utilities Conflicts
 
%p The database contains information on the investors, the drivers for these deals, and their impacts, basic data, source of conflict, project details, conflict and mobilization, impacts, outcome, references to legislation, academic research, videos and pictures.

 
%h3#who-is-it-for Who is the Atlas for?
 
%p The EJ Atlas is a teaching, networking and advocacy resource. Strategists, activist organizers, scholars, and teachers will find many uses for the database, as well as citizens wanting to learn more about the often invisible conflicts taking place.  The map is a valuable teaching resource for curricula about social and environmental issues.  Researchers, journalists and bloggers can use it to find reference cases and to explore patterns and answers to research questions.  Activists, organizers and campaigners can examine past cases to help strategize on the elements of winning campaigns. It is also a valuable networking tool so groups working on related issues or against the same corporate actors can connect with potential allies.

%h3#how-to-use How to use the map: Filter, browse, comment and make your own maps
%p Our Atlas is  a practical tool that’s fun to play with, similar to an Atlas that you can open on at any page and start reading like a book. With one click you can see a global map with just the world’s nuclear, waste or water conflicts – depending on your interest. You can browse conflicts by company, commodity or conflict type . Click on a point on the map and you will get  data on the case, ranging from actors to description of the case, to mobilization, outcome and sources.
%p The filter and Search functionality allows you to filter through any of the fields, a functionality to be added soon will allow you to create your own maps and to share them through embedding them in your website or on your facebook account.
%p Featured maps (to be added soon) on thematic and at regional levels will include accompanying texts written by collaborators and, geographical information to give context and links.
%h3#geographical-info What kind of geographical information do you use?
%p EJOLT featured maps (coming soon) will feature different vectors in order to better illustrate the selected topics and contexts. This entails showing a number of socioeconomic indicators in form of intensity/choropleth maps (i.e. GDP, poverty or GINI coefficient) or representing different types of land uses and biophysical parameters (i.e. pasture lands, location of dams and nuclear reactors or water scarce areas).
%p These layers have been obtained from relevant geodata providers, such as NASA´s SEDAC, World Resource Institute or UNEP, or have been specifically created for EJ Atlas, by geo-referencing statistical data.

%h3#limitations-of-database What are the limitations of the database?
 
%p One limitation of this database lies in the variable quality of the information available.
%p The priority was to generate a large variety of cases, for dissemination, comparison and to give an overview of the frequency of environmental conflicts. Thus, the information for individual cases is not exhaustive. The cases can act as references for researchers to further their own individual studies.
%p Because cases are constantly changing, the database is also not fully updated. For this reason we encourage users to comment on cases with updated information they have.
%p The contextualization of a case may also be controversial. One example is when conservation clashes with the right of communities to undertake livelihood activities. Our cases are based on the mobilization of communities and our criteria for including cases is based on how they frame their  claims and languages of valuation. 

%h3#why-not-everywhere Why don’t you have coverage in some regions/areas?
%p The areas covered represent the vast activist knowledge base of the ejolt partners and collaborators. Many of the cases are based on the databases of our partners including the CDCA’s map of environmental conflicts, the FIOCRUZ map of Environmental Justice in Brazil, the work of ERA in Nigeria, WRM documenting tree plantation conflicts, Grain’s landgrabbing research, etc... (please see the links to access their pages directly.) We also count on a large extended network of researchers and activists expert in specific countries and thematic areas.
 
%p For the moment, the map is similar to ancient world maps, with good coverage of some areas and many blanks spots on the map that we hope to fill with time. For this reason we invite EJOs and researchers with specific areas of expertise to contact us to contribute to expanding the base of knowledge. If you would like to add cases, please contact us.
 
%p As the database expands, we expect more leads and sources to come from people in other parts of the world. We specifically invite professors and environmental justice organizations to get in touch with us to explore collaboration to increase the range of cases.
 
%h3#moderation-process What is the moderation process?
%p The cases are usually signed by the individuals who first researched and wrote them, but additional details are sometimes added and editing may be done (sometimes indicated by adding the moderator’s initials). The initial writer, therefore, cannot be held responsible for the final product.
 
%h3#how-you-update How do you update the status of the cases, the actors involved, the outcomes produced?
%p We try to provide the most updated information about all cases, encouraging activists and researchers to edit the cases sheets as soon as new important events occur. Given the large coverage we already have, this might require some time. Please, feel free to comment under the cases if you deem it necessary or email us if you find any update is needed.

-#%h3 Where does the GIS data come from?
%h3#get-involved How can I get involved?
%ul
  %li
    Like us on 
    %a{:href=>'https://www.facebook.com/ejolt'}Facebook,
    sign up for our 
    %a{:href=>'http://eeb.us2.list-manage.com/profile?u=19d3da1852472c315fcece5dd&id=458e018126&e='}newsletter
  %li
    Please use and share the resources in our resource library and our blog
  %li
    Tell us what you think: comment on the cases: More evidence and data is needed to help to continuously update and improve the quality of the data”.
  %li
    If you have information about a conflict not included on the map, you are invited to add it.
  %li
    Share the website and maps and help be a part of a growing global movement for environmental and social justice.

-content_for :body_end do
  :javascript
    $(document).on('click', "a.faq", function(e){
      setTimeout(function(){window.scrollBy(0,-48)},50);
    });
