-#coding: utf-8

.row
  .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1{:style=>"text-align:justify;"}
    %br/
    %br/
    %h1 Sıkça Sorulan Sorular
    %br/
    %ul
      %li
        %a.faq{:href=>'#atlas'} Çevre Adaleti Atlası: Katılımcı bir haritalama süreci
      %li
        %a.faq{:href=>'#ejolt'} EJOLT Projesi nedir?
      %li
        %a.faq{:href=>'#define'} Çevre ihtilafı nedir?
      %li
        %a.faq{:href=>'#what-we-map'} Bu atlasta ne tip bilgiler var?
      %li
        %a.faq{:href=>'#who-is-it-for'} Bu atlası kimler nasıl kullanabilir?
      %li
        %a.faq{:href=>'#how-to-use'} Bu atlasın etkileşimli özellikleri nasıl kullanılır? Filtreler, site içinde gezinme, yorumlar ve harita yaratmak
      %li
        %a.faq{:href=>'#limitations-of-database'} Veri tabanının kısıtları nelerdir?
      %li
        %a.faq{:href=>'#why-not-everywhere'} Yaşadığım kentteki/bölgedeki bir ihtilaf haritada neden yok?
      %li
        %a.faq{:href=>'#moderation-process'} Nasıl yeni vaka girişi yapabilirim?
      %li
        %a.faq{:href=>'#how-you-update'} Vaka bilgilerini nasıl güncelleyebilirim?
      %li
        %a.faq{:href=>'#contribute'} Başka nasıl katkıda bulunabilirim?

%br/
%br/

%h3#atlas Çevre Adaleti Atlası: Katılımcı bir haritalama süreci

%p 
  Türkiye Çevre Adaleti Atlası'nda yer alan vaka envanteri, çevre adaleti ve toplumsal adalet üzerine çalışan ve yıllardır yerel toplulukları destekleyen akademisyen ve araştırmacıların, kaygılı vatandaşların, deneyimli gazetecilerin, STK'ların ve diğer aktivist grupların işbirliği ile oluşmuştur. Girişim, benzer bir amaçla, dünyadaki ekolojik paylaşım ihtilaflarını haritalayan ve Boğaziçi Üniversitesinin de bir partneri olduğu, aşağıda hakkında daha detaylı bilgiye ulaşabileceğiniz 
  %a{:href=>'http://www.ejolt.org/',:target=>'_blank'} EJOLT Projesi'ni (2011-2015) 
  temel almıştır. Projenin temel çıktılarından biri olan Küresel Çevre Adaleti Atlası'na ulaşmak için 
  %a{:href=>'https://www.ejatlas.org/',:target=>'_blank'} ejatlas.org
  sitesini ziyaret edebilirsiniz.
%p 
  Haritalama sürecinde tüm vakalar çevrimiçi bir veri tabanında toplanır. Editoryal ve teknik destek gruplarından oluşan bir masabaşı ekibi, arama/filtreleme/tarama fonksiyonlarını olanaklı kılmak amacıyla bu veriyi ortak bir dilde buluşturacak şekilde kontrol etme ve vaka girişi yapanlarla beraber geliştirme sürecini yürütür. Vakalar bu süreçten sonra onaylanır ve haritada yayımlanır. Herkes bir hesap açabilir, veri tabanına katkıda bulunmak için editoryal ekiple iletişime geçebilir ve/veya Türkiye'deki çevre adaleti vakalarını haritada işaretleyebilir.
%p 
  Her bir ihtilaf sayfasında yorum bölümü bulunmaktadır. Bunun amacı kamuoyuna ve Türkiye Çevre Adaleti Atlası kullanıcılarına tartışma, müzakere ve fikir alışverişi alanı açmaktır.

%h3#ejolt EJOLT Projesi nedir?
 
%p
  EJOLT Projesi (Environmental Justice Organisations, Liabilities and Trade - Çevre Adaleti Örgütleri, Yükümlülükler ve Uluslararası Ticaret), 2011-2015 yılları arasında gerçekleştirilen ve Avrupa Komisyonu’nun Avrupa Birliği Yedinci Çerçeve Programı (FP7) tarafından finanse edilmiş olan çok partnerli bir projedir. Proje bilim insanlarını, aktivist örgütleri, düşünce kuruluşlarını ve çevre hukuku, çevre sağlığı, politik ekoloji ve ekolojik ekonomi alanlarından politika yapıcıları bir araya getirmiştir. Çevre adaleti örgütlerinin “Ekolojik Dağılımda Eşitsizlikler” konulu çalışmalarını destekler. Merkezinde "Ekolojik Borç (veya Çevresel Yükümlülükler)" ve "Eşitsiz Ekolojik Mübadele" kavramları bulunur. Proje, bu kavramların bilimde, çevre aktivizminde ve politika yapıcılığında kullanımına odaklanır.
%p
  EJOLT eylem planı, toplumu ilgilendiren bu önemli sorunla başa çıkabilmek adına veri tabanları üretimiyle; bilgi platformları ve vaka-çalışmaları yaratım ve paylaşımıyla; atölye çalışmalarıyla; olası yasal işlemlerle, siyasi eylem denemeleriyle; organizasyonlar ve çevre adaleti için en iyi uygulamalarla; yuvarlak masa çalışmalarıyla; eğitim materyal ve afişlerinin yaygınlaştırılmasıyla; kapasite geliştirme aktiviteleriyle ilgilenir. Başka bir deyişle, geniş bir yelpazede “Çevreyle ilgili dağılım ihtilaflarının nedenleri nelerdir?”, “Benzer ihtilafların olumlu yönde sonuçlanmasını nasıl sağlayabilir ve sürdürülebilirliğe geçiş yönünde nasıl adımlar atabiliriz?” sorularının cevaplarını arar.
%p
  Daha fazla bilgi için:
  %a{:href=>'http://www.ejolt.org/',:target=>'_blank'} http://www.ejolt.org/
 
%h3#define Çevre ihtilafı nedir?
 
%p
  Çevre ihtilafları (ekolojik paylaşım ihtilafları, sosyo-ekolojik ihtilaflar), yerel toplulukların ve toplumsal örgütlerin çeşitli ekonomik faaliyetlerin, altyapı inşaatlarının veya atık bertarafı/kirliliğinin halk sağlığına, sosyal hayata ve doğaya olan etkilerinin şikayet sebebi unsurlar olduğu durumlarda harekete geçmesi olarak tanımlanmaktadır. Ortaya çıkan hareketler ulusal ve uluslararası ağların desteğini de kapsayabilir.
%p
  Türkiye Çevre Adaleti Atlası, Türkiye'de toplumsal ihtilafların hissedilen olumsuz toplumsal veya çevresel etkilerine dair belgemeleyi aşağıdaki kriterlere göre gerçekleştirir:  
%ol
  %li
    Çevre ve toplum için fiili veya potansiyel olumsuz sonuçları bulunan ekonomik faaliyet veya mevzuat,
  %li
    Çevre adaleti örgütleri tarafından bu faaliyetlerin fiili veya potansiyel sonucu olarak zarar ortaya çıktığı iddiası ve bu iddia etrafında harekete geçilmesi,
  %li
    Bu ihtilaf vakasının bir veya daha fazla haber etrafında raporlanması.

%p
  Çevre ihtilafları genellikle gelir ve güç dağılımındaki yapısal eşitsizlikler sebebiyle ortaya çıkar. Çevre adaletinin boyutları kirliliğin doğurduğu yükün dağılımı, çevresel kaynaklara erişim, karar alma mekanizmalarına katılım ve alternatif dünya görüşleri ve kalkınma anlayışlarının tanınırlığını kapsar. Eylem dağarcığı resmi itirazlar, dilekçeler, toplantılar, gösteriler, boykotlar, grevler, hukuk davaları, sivil itaatsizlik eylemleri, toplu şiddet, uluslararası kampanyalar ve diğer eylem biçimlerini içerebilir. Kaynakların yeniden dağılımının talep edildiği durumlarda, bu ihtilaflar genellikle daha büyük etnik, toplumsal cinsiyet ya da kast ihtilaflarının bir parçasıdır veya bu ihtilafları beraberinde getirir.

%h3#what-we-map Bu atlasta ne tip bilgiler var?
%p
  Atlas, çevre ihtilaflarını 11 temel kategoriye göre sınıflandırır:
%ul
  %li
    Altyapı, ulaşım ve kentsel dönüşüm ihtilafları
  %li
    Atık yönetimi
  %li
    Biyolojik çeşitlilik
  %li
    Endüstriyel ihtilaflar
  %li
    Fosil yakıtlar (kömür, doğalgaz, kaya gazı vb.)
  %li
    HES'ler ve su yönetimi
  %li
    Maden ve yapı malzemesi çıkarımı
  %li
    Nükleer
  %li
    Orman, toprak, tarım ve hayvancılık ihtilafları (biyokütle ihtilafları)
  %li
    Turizm ve eğlence kaynaklı ihtilaflar
  %li
    Rüzgar, güneş ve jeotermal enerji

%p
  Veri tabanı, ilgili ihtilafa ilişkin temel coğrafi ve kategorik bilgilerin yanı sıra ihtilafa sebebiyet veren yatırım ve yatırımcılara dair bilgiler, yatırımın etkileri, ihtilaf kaynakları, proje ile ilgili ayrıntılar, ihtilaf ve harekete geçme biçimlerinin detayları, ihtilaf sonuçları, yasal düzenlemeler, akademik araştırmalar, video, fotoğraf ve referanslar içerir.

%h3#who-is-it-for Bu atlası kimler nasıl kullanabilir?
 
%p 
  Türkiye Çevre Adaleti Atlası, temelde toplumsal ve çevresel meseleler konusunda farkındalık yaratmak için önemli bir bilgi, eğitim, ağ oluşturma ve savunuculuk kaynağıdır. Gazeteciler, aktivistler, araştırmacılar ve ilgili tüm vatandaşlar veri tabanını kullanmanın çeşitli yollarını bulacaklardır. Araştırmacılar, gazeteciler ve blog yazarları Atlas'ı referans vakalara ulaşmak, eğilimleri incelemek ve araştırma sorularına cevaplar bulmak için kullanabilirler. Eğiticiler, Atlas'ta yer alan bilgileri ders materyali olarak kullanabilirler. Aktivistler, örgütleyiciler ve kampanyacılar, gelecekteki kampanyalar için başarılı stratejiler belirlemek adına geçmişte kazanılmış vakaların ana unsurlarını inceleyebilirler. Ayrıca vatandaşlar, gözden ırak kalan çevre ihtilafları hakkında daha fazla bilgilenmek istemeleri durumunda veri tabanını kullanabilirler. Benzer vakalar üzerinde veya aynı özel şirket aktörlerine karşı çalışan gruplar, Atlas aracılığıyla potansiyel müttefiklerle bağlantı kurabilirler.

%h3#how-to-use Bu atlasın etkileşimli özellikleri nasıl kullanılır? Filtreler, site içinde gezinme, yorumlar ve harita yaratmak
%p 
  Türkiye Çevre Adaleti Atlası, basılı bir atlas gibi okunabilecek, kullanımı kolay, pratik bir araçtır. Arama filtresi fonksiyonu herhangi bir alan için kullanılabilir. Ayrıca, hazırlanmakta olan tematik haritalar da sosyo-ekolojik ihtilafların ortaya çıktığı özel konu ve bağlamları daha iyi görselleştirmeye yardımcı olacak, katılımcılar tarafından yazılmış eşlik metinler ile bağlam ve bağıntıları artıracak coğrafi bilgiler içerecektir. 
%p 
  Tek bir tıklama ile ilgilendiğiniz alanlarda çeşitli çevre adaleti vakalarını (örneğin atık su veya nükleer) içeren bir haritaya erişebilirsiniz. Aramalarınızı illere, şirketlere, ihtilafa konu olan metalara veya ihtilaf kategorilerine göre yapabilirsiniz. Haritanın herhangi bir noktasına basit bir tıklama ile ulaşabilir, ihtilafa dair bilgileri, aktörleri, vakayla ilgili ayrıntıları, harekete geçme biçimlerini ve sonuçları öğrenebilirsiniz. 
%p 
  Bu veri tabanı, 
  %a{:href=>"",:target=>"_blank"} Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported 
  lisansı şartları altında kullanıma sunulmuştur.
  %strong Türkiye Çevre Adaleti Atlası'na atıfta bulunarak, siteyi ticari olmayan amaçlar için kullanabilirsiniz. 
  Ortaya çıkan çalışmanın aynı veya benzer bir lisans altında kullanıma sunulması gerekmektedir. Veri tabanını akademik yayın amacıyla kullanmak istiyorsanız, lütfen uygun referanslar için editörlerimizle iletişime geçin.

%h3#limitations-of-database Veri tabanının kısıtları nelerdir?
%p
  Veri tabanına ilişkin en önemli kısıt, mevcut bilgilerin değişken niteliğidir. Atlas'ın öncelikli amacı, geniş bir yelpazedeki vakaları dağıtım ve karşılaştırma amaçlı analiz etmek, coğrafi konumlarına ve ortak noktalarına bakarak çevre ihtilaflarının sıklığı hakkında genel bir resim çizebilmektir. Bu nedenle, bireysel vakalar için paylaşılan bilgiler teferruatlı değildir. Vakalar, araştırmacıların kendi bireysel çalışmalarını zenginleştirmeleri için referans noktaları sağlayabilir. Sahadaki verilerin sürekli değişmesi ve haritalama işinin çoğunlukla Atlas’a gönüllü katkıda bulunanların zamansal uygunluğuna dayalı olması nedeniyle, veri tabanındaki bazı vakalar tamamıyla güncel olmayabilir. Atlas kullanıcılarının, ilgilendikleri vakayla ilgili bu hususta katkıları beklenir, yorumlarında güncel bilgiye yer vermeleri istenir.
%p
  Bir vakanın içerisine yerleştirildiği bağlam da tartışmalı olabilir. Buna dair bir örnek, doğa koruma faaliyetlerinin toplulukların geçimlik aktivitelerde bulunma hakkıyla karşı karşıya geldiği durumlardır. Atlas'ta belgelenen vakalarda, yerel toplulukların harekete geçmeleri, vakaları içerme kriterlerimizde ise toplulukların talepleri ve değerlendirme dillerini nasıl çerçevelendirdikleri temel alınır. 

%h3#why-not-everywhere Yaşadığım kentteki/bölgedeki bir ihtilaf haritada neden yok?
%p 
  Veri tabanında yer alan bilgiler, ilgili bölgelerde yaşayan yerel toplulukların, araştırmacıların, çeşitli tematik alanlarda çalışan STK'ların ve sivil toplum örgütlerinin doğrudan bildirim yoluyla aktif katılımına dayanır. Dolayısıyla, masabaşı ekibi, her hangi bir bildirim olmadan haritaya yeni vaka eklemez. veri tabanının genişletilmesi ve güncellenmesi, geniş araştırmacı ağının, yerel toplulukların ve aktivistlerin gönüllü katkıları ile gerçekleşir. Şu an için, Atlas belli başlı bölgeler için iyi bir kapsama alanına ve zamanla doldurmayı umduğumuz boş alanlara sahip. Bu çerçevede, sizi de bu veri tabanını genişletmeye yardımcı olmaya, Atlas’ta değinilmeyen bir çevre ihtilafı hakkında bilgi sahibiyseniz, kullanıcı hesabı açmaya ve bilgilerinizi paylaşmaya davet ediyoruz.  Herkes kayıtlı kullanıcı olarak yeni vaka girişi yapabilir. Bu vaka girişleri, Türkiye Çevre Adaleti Atlası editör ekibinin onayına gidecek, gerekli kontroller yapıldıktan sonra haritaya eklenecektir. Benzer şekilde, harita üzerindeki mevcut bildirimler için de güncellemeler gönderebilirsiniz.
 
%h3#moderation-process Nasıl yeni vaka girişi yapabilirim?
%p 
  Haritada hemen yeni bir vaka girişi yapabilirsiniz. Bunun için ana sayfada bir kullanıcı olarak kayıt açmanız yeterli. Tüm araştırmacıları, yerel toplulukları, aktivistleri, gazetecileri, yerel komite temsilcilerini ve ilgili çevre sorunlarına dair uzmanları platformun katılımcı potansiyelinden faydalanarak haritalama çalışmasına katkıda bulunmaya davet ediyoruz. Türkiye Çevre Adaleti Atlası ana sayfasında bir kullanıcı olarak kayıt açarak yeni vakalar ekleyebilirsiniz. Eklenen tüm yeni vakalar, Türkiye Çevre Adaleti Atlası ekibinin araştırmaları sonrasında Atlas üzerinde gözükecektir. Benzer şekilde, Atlas üzerinde zaten mevcut olan vakalara dair uyarı ve güncellemeler de gönderebilirsiniz.
 
%h3#how-you-update Başka nasıl katkıda bulunabilirim?
%p 
  Veri tabanının genişletilmesi ve güncellenmesi, geniş araştırmacı ağının, yerel toplulukların ve aktivistlerin gönüllü katkılarına dayanır. Bu nedenle tüm ilgili vatandaşları, haberdar oldukları gelişmelere dair vakaları güncellemeye ve yeni vakalar eklemeye davet ediyoruz. Elimizdeki kapsamlı dokümantasyon göz önünde bulundurulduğunda, güncelleme işlemleri biraz uzun sürebilir. Bildirim ve güncellemeleri bu adrese gönderebilirsiniz: 
  %a{:href=>'mailto:info@cevreadaleti.org'} info@cevreadaleti.org 

%h3#get-involved Come posso partecipare?
%p
  Toplumsal adalet ve çevre adaleti için giderek büyümekte olan bu küresel hareketin bir parçası olun.
%ul
  %li 
    Sitemiz üzerinden haberleri, yayınları ve güncellemeleri paylaşın: 
    %a{:href=>'https://www.cevreadaleti.org'} cevreadaleti.org
  %li 
    Haritada mevcut vakaların güncellemeleri için uyarılarınızı gönderin:
    %a{:href=>'mailto:info@cevreadaleti.org'} info@cevreadaleti.org 
  %li 
    Atlas’ta değinilmeyen bir çevre ihtilafı hakkında bilgi sahibiyseniz sizi kullanıcı hesabı açmaya ve bilgilerinizi paylaşmaya davet ediyoruz.
  %li 
    Facebook sayfamızı beğenin: 
    %a{:href=>'https://www.facebook.com/cevreadaleti'} facebook.com/cevreadaleti
  %li 
    Bizi twitter üzerinden takip edin: 
    %a{:href=>'https://twitter.com/cevreadaleti'} twitter.com/cevreadaleti

-content_for :body_end do
  :javascript
    $(document).on('click', "a.faq", function(e){
      setTimeout(function(){window.scrollBy(0,-48)},50);
    });
