%h2
  %b AVISO LEGAL
%p
  %br/
%h4
  %b 0.  OBJETO Y ACEPTACIÓN
%p
  El presente aviso legal regula el uso del sitio web
  %b www.ejatlas.org
  (en adelante, LA WEB), del que es titular
  %b PROYECTO EJATLAS, INSTITUTO DE CIENCIA Y TECNOLOGÍA AMBIENTAL (ICTA), UNIVERSIDAD AUTÓNOMA DE BARCELONA (UAB) (en adelante, EL PROPIETARIO DE LA WEB).
%p
  La navegación por el sitio web de EL PROPIETARIO DE LA WEB atribuye la condición de usuario del mismo e implica la aceptación plena y sin reservas de todas y cada una de las disposiciones incluidas en este Aviso Legal, que pueden sufrir modificaciones.
%p
  El usuario se obliga a hacer un uso correcto del sitio web de conformidad con las leyes, la buena fe, el orden público, los usos del tráfico y el presente Aviso Legal. El usuario responderá frente a EL PROPIETARIO DE LA WEB o frente a terceros, de cualesquiera daños y perjuicios que pudieran causarse como consecuencia del incumplimiento de dicha obligación.
%p
  %br/
%p
  %b 1.  IDENTIFICACIÓN Y COMUNICACIONES
%p
  EL PROPIETARIO DE LA WEB, en cumplimiento de la Ley 34/2002, de 11 de julio, de servicios de la sociedad de la información y de comercio electrónico, le informa que:
%p
  Su denominación social es:
  %b PROYECTO EJATLAS, INSTITUTO DE CIENCIA Y TECNOLOGÍA AMBIENTAL (ICTA), UNIVERSIDAD AUTÓNOMA DE BARCELONA (UAB)
%p
  CIF/NIF/NIE es:
  %b Q-0818002-H
%p
  Su domicilio social está en:
  %b Edifici Z (ICTA-ICP), Carrer de les Columnes, Campus Universitari UAB Bellaterra, Cerdanyola del Vallés BARCELONA 08193 BARCELONA
%p
  Para comunicarse con nosotros, ponemos a su disposición diferentes medios de contacto que detallamos a continuación:
%p
  Email:
  %b
    %a{:href=>"mailto:ejoltmap@gmail.com"} ejoltmap@gmail.com
%p
  Todas las notificaciones y comunicaciones entre los usuarios y EL PROPIETARIO DE LA WEB se considerarán eficaces, a todos los efectos, cuando se realicen a través de correo postal o cualquier otro medio de los detallados anteriormente.
%p
  %br/
%p
  %b 2.  CONDICIONES DE ACCESO Y UTILIZACIÓN
%p
  El sitio web y sus servicios son de acceso libre y gratuito, no obstante, EL PROPIETARIO DE LA WEB condiciona la utilización de algunos de los servicios ofrecidos en su web a la previa cumplimentación del correspondiente formulario.
%p
  El usuario garantiza la autenticidad y actualidad de todos aquellos datos que comunique a EL PROPIETARIO DE LA WEB y será el único responsable de las manifestaciones falsas o inexactas que realice.
%p
  El usuario se compromete expresamente a hacer un uso adecuado de los contenidos y servicios de EL PROPIETARIO DE LA WEB y a no emplearlos para, entre otros:
%p
  %b a)
  Difundir contenidos delictivos, violentos, pornográficos, racistas, xenófobo, ofensivos, de apología del terrorismo o, en general, contrarios a la ley o al orden público.
%p
  %b b)
  Introducir en la red virus informáticos o realizar actuaciones susceptibles de alterar, estropear, interrumpir o generar errores o daños en los documentos electrónicos, datos o sistemas físicos y lógicos de EL PROPIETARIO DE LA WEB o de terceras personas; así como obstaculizar el acceso de otros usuarios al sitio web y a sus servicios mediante el consumo masivo de los recursos informáticos a través de los cuales EL PROPIETARIO DE LA WEB presta sus servicios.
%p
  %b c)
  Intentar acceder a las cuentas de correo electrónico de otros usuarios o a áreas restringidas de los sistemas informáticos de EL PROPIETARIO DE LA WEB o de terceros y, en su caso, extraer información.
%p
  %b d)
  Vulnerar los derechos de propiedad intelectual o industrial, así como violar la confidencialidad de la información de EL PROPIETARIO DE LA WEB o de terceros.
%p
  %b e)
  Suplantar la identidad de otro usuario, de las administraciones públicas o de un tercero.
%p
  %b f)
  Reproducir, copiar, distribuir, poner a disposición de, o cualquier otra forma de comunicación pública, transformar o modificar los contenidos, a menos que se cuente con la autorización del titular de los correspondientes derechos o ello resulte legalmente permitido.
%p
  %b g)
  Recabar datos con finalidad publicitaria y de remitir publicidad de cualquier clase y comunicaciones con fines de venta u otras de naturaleza comercial sin que medie su previa solicitud o consentimiento.
%p
  %br/
%p
  Todos los contenidos del sitio web, como textos, fotografías, gráficos, imágenes, iconos, tecnología, software, así como su diseño gráfico y códigos fuente, constituyen una obra cuya propiedad pertenece a EL PROPIETARIO DE LA WEB, sin que puedan entenderse cedidos al usuario ninguno de los derechos de explotación sobre los mismos más allá de lo estrictamente necesario para el correcto uso de la web.
%p
  En definitiva, los usuarios que accedan a este sitio web pueden visualizar los contenidos y efectuar, en su caso, copias privadas autorizadas siempre que los elementos reproducidos no sean cedidos posteriormente a terceros, ni se instalen a servidores conectados a redes, ni sean objeto de ningún tipo de explotación.
%p
  Asimismo, todas las marcas, nombres comerciales o signos distintivos de cualquier clase que aparecen en el sitio web son propiedad de EL PROPIETARIO DE LA WEB, sin que pueda entenderse que el uso o acceso al mismo atribuya al usuario derecho alguno sobre los mismos.
%p
  La distribución, modificación, cesión o comunicación pública de los contenidos y cualquier otro acto que no haya sido expresamente autorizado por el titular de los derechos de explotación quedan prohibidos.
%p
  El establecimiento de un hiperenlace no implica en ningún caso la existencia de relaciones entre EL PROPIETARIO DE LA WEB y el propietario del sitio web en la que se establezca, ni la aceptación y aprobación por parte de EL PROPIETARIO DE LA WEB de sus contenidos o servicios. Aquellas personas que se propongan establecer un hiperenlace previamente deberán solicitar autorización por escrito a EL PROPIETARIO DE LA WEB. En todo caso, el hiperenlace únicamente permitirá el acceso a la home-page o página de inicio de nuestro sitio web, asimismo deberá abstenerse de realizar manifestaciones o indicaciones falsas, inexactas o incorrectas sobre EL PROPIETARIO DE LA WEB, o incluir contenidos ilícitos, contrarios a las buenas costumbres y al orden público.
%p
  EL PROPIETARIO DE LA WEB no se responsabiliza del uso que cada usuario le dé a los materiales puestos a disposición en este sitio web ni de las actuaciones que realice en base a los mismos.
%p
  %br/
%p
  %b 3.  EXCLUSIÓN DE GARANTÍAS Y DE RESPONSABILIDAD
%p
  El contenido del presente sitio web es de carácter general y tiene una finalidad meramente informativa, sin que se garantice plenamente el acceso a todos los contenidos, ni su exhaustividad, corrección, vigencia o actualidad, ni su idoneidad o utilidad para un objetivo específico.
%p
  EL PROPIETARIO DE LA WEB excluye, hasta donde permite el ordenamiento jurídico, cualquier responsabilidad por los daños y perjuicios de toda naturaleza derivados de:
%p
  %b a)
  La imposibilidad de acceso al sitio web o la falta de veracidad, exactitud, exhaustividad y/o actualidad de los contenidos, así como la existencia de vicios y defectos de toda clase de los contenidos transmitidos, difundidos, almacenados, puestos a disposición, a los que se haya accedido a través del sitio web o de los servicios que se ofrecen.
%p
  %b b)
  La presencia de virus o de otros elementos en los contenidos que puedan producir alteraciones en los sistemas informáticos, documentos electrónicos o datos de los usuarios.
%p
  %b c)
  El incumplimiento de las leyes, la buena fe, el orden público, los usos del tráfico y el presente aviso legal como consecuencia del uso incorrecto del sitio web. En particular, y a modo ejemplificativo, EL PROPIETARIO DE LA WEB no se hace responsable de las actuaciones de terceros que vulneren derechos de propiedad intelectual e industrial, secretos empresariales, derechos al honor, a la intimidad personal y familiar y a la propia imagen, así como la normativa en materia de competencia desleal y publicidad ilícita.
%p
  Asimismo, EL PROPIETARIO DE LA WEB declina cualquier responsabilidad respecto a la información que se halle fuera de esta web y no sea gestionada directamente por nuestro webmaster. La función de los links que aparecen en esta web es exclusivamente la de informar al usuario sobre la existencia de otras fuentes susceptibles de ampliar los contenidos que ofrece este sitio web. EL PROPIETARIO DE LA WEB no garantiza ni se responsabiliza del funcionamiento o accesibilidad de los sitios enlazados; ni sugiere, invita o recomienda la visita a los mismos, por lo que tampoco será responsable del resultado obtenido.  EL PROPIETARIO DE LA WEB no se responsabiliza del establecimiento de hipervínculos por parte de terceros.
%p
  %br/
%p
  %b 4.  POLÍTICA DE PRIVACIDAD
%p
  %b 4.1.  ¿Quién es el Responsable de tratamiento de sus datos?
%p
  El responsable de tratamiento se encuentra identificado en el expositivo 1 de este Aviso Legal.
%p
  Qué tipo de datos tenemos sobre su persona y cómo los hemos obtenido
%p
  Las categorías de datos personales que tratamos de clientes y proveedores son:
%p
  1.	Datos de identificación
%p
  2.	Direcciones postales o electrónicas
%p
  %br/
%p
  %b 4.2.  ¿En ningún caso tratamos datos especialmente protegidos?
%p
  Todos los datos arriba mencionados los hemos obtenido o directamente de Usted al facilitarnos los datos de identificación y demás información necesaria para llevar a cabo el objeto de la relación entre las partes. Será una obligación suya facilitarnos los datos actualizados en caso de modificación.
%p
  %br/
%p
  %b 4.3.  ¿Con qué finalidad tratamos sus datos?
%p
  Tratamos los datos que nos facilitan las personas interesadas con el fin de gestionar distintas actividades derivadas de la elaboración del Atlas de la Justicia Ambiental.
%p
  %br/
%p
  %b 4.4.  ¿Por cuánto tiempo conservaremos sus datos?
%p
  Los datos personales relativos a personas físicas vinculadas al proyecto (datos personales de los colaboradores) que recopilemos mediante los distintos formularios de contacto y/o recogida de información se conservarán mientras no se solicite su supresión por el interesado.
%p
  En cualquier caso, guardaremos sus datos personales durante el período de tiempo que sea razonablemente necesario teniendo en cuenta nuestras necesidades de dar respuesta a cuestiones que se planteen o resolver problemas, realizar mejoras, activar nuevos servicios y cumplir los requisitos que exija la legislación aplicable. Esto significa que podemos conservar tus datos personales durante un período de tiempo razonable incluso después de que haya de usar esta página web. Después de este período, sus datos personales serán eliminados de todos nuestros sistemas.
%p
  %br/
%p
  %b 4.5.  ¿Cuál es la base de legitimación para el tratamiento de sus datos?
%p
  Según tipo de tratamiento de datos la base de legitimación es la siguiente

  %table.table
    %thead
      %tr
        %th{:scope=>'col'} TRATAMIENTO
        %th{:scope=>'col'} BASE DE LEGITIMACIÓN
    %tbody
      %tr
        %td Gestión de mantenimiento del Atlas: gestión de la relación con los informantes.
        %td Consentimiento libre e inequívoco del propio interesado

%p
  En el supuesto de que no facilite sus datos de carácter personal no se podrá ejecutar su solicitud.
%p
  %br/
%p
  %b 4.6.  ¿A qué destinatarios se comunicarán sus datos?
%p
  No cederemos sus datos personales a terceros Le informamos que podemos facilitar sus datos personales a organismos de la Administración Pública y Autoridades competentes en aquellos casos en que nos requieran legalmente o en los casos en que, actuando de buena fe, consideremos que tal acción es razonablemente necesaria para cumplir con un proceso judicial; para contestar cualquier reclamación o demanda jurídica; o para proteger los derechos de la UAB.
%p
  %br/
%p
  %b 4.7.  ¿Transferencias de datos a terceros países?
%p
  No están previstas transferencias de datos a terceros países.
%p
  %br/
%p
  %b 4.8.  ¿Cuáles son sus derechos como interesado?
%p
  Cualquier persona tiene derecho a obtener confirmación sobre si estamos tratando datos personales que le conciernan, o no.
%p
  En concreto, las personas interesadas pueden solicitar el derecho de acceso a sus datos personales, así como recibirlos en un formato común y lectura mecanizada si el tratamiento se efectúa por medios electrónicos (derecho de portabilidad).
%p
  Asimismo, las personas interesadas pueden solicitar el derecho de rectificación de los datos inexactos o, en su caso, solicitar su supresión cuando, entre otros motivos, los datos ya no sean necesarios para los fines que fueron recogidos.
%p
  Complementariamente, en determinadas circunstancias, los interesados podrán solicitar la limitación del tratamiento de sus datos, o en determinadas circunstancias y por motivos relacionados con su situación particular, los interesados podrán ejercitar su derecho a oponerse al tratamiento de sus datos. Dejaremos de tratar los datos, salvo por motivos legítimos imperiosos, o el ejercicio o la defensa de posibles reclamaciones o en aquellas excepciones establecidas en la normativa aplicable.
%p
  Asimismo, le informamos que tiene derecho a retirar sus consentimientos otorgados en cualquier momento, sin que ello afecte a la licitud del tratamiento basado en el consentimiento previo a su retirada.
%p
  Así mismo se informa al Usuario que en cualquier momento puede ejercitar los mencionados derechos dirigiéndose por escrito a nosotros utilizando los datos de contacto que aparecen en el Expositivo 1 del presente Aviso Legal, adjuntando copia de su DNI.
%p
  Usted también tendrá el derecho a presentar una reclamación ante la Agencia Española de Protección de datos, especialmente cuando no haya obtenido satisfacción en el ejercicio de sus derechos.
%p
  %a{:href => "http://www.agpd.es/portalwebAGPD/index-ides-idphp.php"}
%p
  Por otro lado, de acuerdo con lo dispuesto en la Ley 34/2002, de 11 de Julio, de Servicios de la Sociedad de Información y de Comercio Electrónico, nos comprometemos a no enviar publicidad a través del correo electrónico.
%p
  %br/
%p
  %b 5.  PROCEDIMIENTO EN CASO DE REALIZACIÓN DE ACTIVIDADES DE CARÁCTER ILÍCITO
%p
  En el caso de que cualquier usuario o un tercero considere que existen hechos o circunstancias que revelen el carácter ilícito de la utilización de cualquier contenido y/o de la realización de cualquier actividad en las páginas web incluidas o accesibles a través del sitio web, deberá enviar una notificación a EL PROPIETARIO DE LA WEB identificándose debidamente, especificando las supuestas infracciones y declarando expresamente y bajo su responsabilidad que la información proporcionada en la notificación es exacta.
%p
  Para toda cuestión litigiosa que incumba al sitio web de EL PROPIETARIO DE LA WEB, será de aplicación la legislación española.
%p
  %br/
%p
  %b 6.  PUBLICACIONES
%p
  La información administrativa facilitada a través del sitio web no sustituye la publicidad legal de las leyes, normativas, planes, disposiciones generales y actos que tengan que ser publicados formalmente a los diarios oficiales de las administraciones públicas, que constituyen el único instrumento que da fe de su autenticidad y contenido. La información disponible en este sitio web debe entenderse como una guía sin propósito de validez legal.
%p#cookies
  %br/
%p
  %b POLITICA DE COOKIES WEB
%p
  %b Información SOBRE NUESTRA POLITICA DE COOKIES
%p
  %b EN:
  We use cookies for statistical purposes and to improve our services.  By clicking "Accept cookies" you consent to place cookies when visiting the website. For more information, and to find out how to change the configuration of cookies, please read our cookie policy.
%p
  %br/
%p
  %b ES:
  Utilizamos cookies para realizar el análisis de la navegación de los usuarios y mejorar nuestros servicios. Al pulsar "Accept cookies" consiente dichas cookies. Puede obtener más información, o bien conocer cómo cambiar la configuración, pulsando en Más información.
%p
  %br/
%p
  %b INFORMACION ADICIONAL SOBRE NUESTRA POLITICA DE COOKIES:
%p
  “
  %b PROYECTO EJATLAS, INSTITUTO DE CIENCIA Y TECNOLOGÍA AMBIENTAL (ICTA), UNIVERSIDAD AUTÓNOMA DE BARCELONA (UAB)”
  %i puede recopilar información sobre los hábitos de búsqueda de los usuarios del website por medio de cookies o archivos de registro. No se utilizarán las cookies para recoger información de carácter personal. Solamente se instalarán si el Usuario permanece y continúa navegando en nuestra página web, entendiendo que consiente su uso e instalación. A continuación, proporcionamos información detallada sobre qué es una cookie, para qué sirve, qué tipos de cookies utilizamos, cuáles son sus finalidades y cómo puede configurarlas o deshabilitarlas si así lo desea.
  “
%p
  %br/
%p
  %i
    %b a) ¿Qué es una cookie y para qué sirve?
%p
  %i Una "Cookie" es un pequeño archivo que se almacena en el ordenador del usuario, Tablet, smartphone o cualquier otro dispositivo con información sobre la navegación.
%p
  %i El conjunto de "cookies" de todos nuestros usuarios nos ayuda a mejorar la calidad de nuestra web, permitiéndonos controlar qué páginas son útiles, cuáles no y cuáles son susceptibles de mejora.
%p
  %i Las cookies son esenciales para el funcionamiento de Internet, aportando innumerables ventajas en la prestación de servicios interactivos, facilitándole la navegación y usabilidad de nuestro website.
%p
  %i En ningún caso las cookies podrían dañar su equipo. Por contra, el que estén activas nos ayuda a identificar y resolver los errores.
%p
  %br/
%p
  %i
    %b b) ¿Qué tipos de cookies utilizamos?
%p
  %i
    %b Según la entidad que la gestiona:
%ul
  %li
    %p
      %i
        %b Cookies propias:
      Son aquellas que se envían a su equipo desde nuestros propios equipos o dominios y desde el que prestamos el servicio que nos solicita.
  %li
    %p
      %i
        %b Cookies de terceros:
      Son aquellas que se envían a su equipo desde un equipo o dominio que no es gestionado por nosotros, sino por otra entidad colaboradora. Como, por ejemplo, las usadas por redes sociales, o por contenido externo como Google Maps.
%p
  %br/
%p
  %i
    %b Según el plazo de tiempo que permanecen activadas:
%ul
  %li
    %p
      %i
        %b Cookies de sesión:
      Son cookies temporales que permanecen en el archivo de cookies de su navegador hasta que el Usuario abandona la página web, por lo que ninguna queda registrada en el disco duro de su ordenador. La información obtenida por medio de estas cookies, sirven para analizar pautas de tráfico en el website. A la larga, esto nos permite proporcionar una mejor experiencia para mejorar el contenido y facilitar su uso.
  %li
    %p
      %i
        %b Cookies persistentes:
      son almacenadas en el disco duro y nuestra web las lee cada vez que el Usuario realiza una nueva visita. Una cookie permanente posee una fecha de expiración determinada. La cookie dejará de funcionar después de esa fecha. Estas cookies las utilizamos, generalmente, para facilitar los servicios de compra y registro.
%p
  %br/
%p
  %i
    %b Según su finalidad:
%ul
  %li
    %p
      %i 
        %b Cookies técnicas:
      Son aquellas necesarias para la navegación y el buen funcionamiento de nuestro website. Permiten, por ejemplo, controlar el tráfico y la comunicación de datos, acceder a partes de acceso restringido, realizar el proceso de compra de un pedido, utilizar elementos de seguridad, almacenar contenidos para poder difundir vídeos o compartir contenidos a través de redes sociales.
  %li
    %p
      %i
        %b Cookies de personalización:
      Son aquéllas que permiten al Usuario acceder al servicio con unas características predefinidas en función de una serie de criterios, como por ejemplo el idioma, el tipo de navegador a través del cual se accede al servicio, la configuración regional desde donde se accede al servicio, etc.
  %li
    %p
      %i
        %b Cookies de análisis:
      Son aquéllas que nos permiten cuantificar el número de usuarios y así realizar la medición y análisis estadístico de la utilización que hacen los usuarios de los servicios prestados.
      %br/
      Para ello se analiza su navegación en nuestro website con el fin de mejorar la oferta de productos y servicios que ofrecemos.
  %li
    %p
      %i
        %b Cookies publicitarias:
      Son aquéllas que permiten la gestión, de la forma más eficaz posible, de los espacios publicitarios que se pudieran incluir en nuestro website.
%p
  %br/
%p
  %i
    %b Finalidad de cada una de las cookies utilizadas:
%p
  %i 
    A continuación, detallamos las cookies utilizadas en nuestra web y el proveedor al que pertenecen. Cookies propias son las que pertenecen a nuestro dominio y cookies de terceros son las que pertenecen a otros dominios según la
    %b tabla
    siguiente:
%p
  %br/
%p
  %table.table
    %thead
      %tr
        %th{:scope=>'col'} Cookie
        %th{:scope=>'col'} Nombre
        %th{:scope=>'col'} Tipo
        %th{:scope=>'col'} Propósito
        %th{:scope=>'col'} Más información
    %tbody
      %tr
        %td Google Analytics
        %td
          __utma
          %br/
          __utmb
          %br/
          __utmc
          %br/
          __utmz
        %td De terceros, anlíticas y cookies permanentes
        %td Recoger información sobre la navegación de los usuarios por el sitio con el fin de conocer el origen de las visitas y otros datos similares a nivel estadístico. No obtiene datos de los nombres o apellidos de los usuarios ni de la dirección postal concreta desde donde se conectan.
        %td 
          %a{:href=>"http://www.google.com/intl/es/analytics/privacyoverview.html"} Google Analytics 
          %a{:href=>"http://www.google.com/intl/es/privacy.html"} Centro de privacidad de Google

%p
  %br/
%p
  %i
    %b ¿Cómo puede el Usuario configurar o deshabilitar las cookies?
%p
  %i 
    Puede 
    %b permitir, bloquear o eliminar las cookies instaladas en su equipo
     mediante la configuración de las opciones de su navegador de Internet. En caso de que no permita la instalación de cookies en su navegador es posible que no pueda acceder a algunos de los servicios y que su experiencia en el website pueda resultar menos satisfactoria.
%ul
  %li
    %p
      %i
        %b Firefox:
      %a{:href => "http://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-we"} http://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-we
  %li
    %p
      %i
        %b Chrome:
      %a{:href => "http://support.google.com/chrome/bin/answer.py?hl=es&answer=95647"} http://support.google.com/chrome/bin/answer.py?hl=es&amp;answer=95647
  %li
    %p
      %i
        %b Explorer:
      %a{:href=>"https://support.microsoft.com/es-es/help/17442"} https://support.microsoft.com/es-es/help/17442
  %li
    %p
      %i
        %b Safari:
      %a{:href => "http://support.apple.com/kb/ph5042"} http://support.apple.com/kb/ph5042
  %li
    %p
      %i
        %b Opera:
      %a{:href => "http://help.opera.com/Windows/11.50/es-ES/cookies.html"} http://help.opera.com/Windows/11.50/es-ES/cookies.html
%p
  %i
    %b Otros navegadores:
  consulte la documentación del navegador que tenga instalado.
