-#coding:utf-8
.row
  .span6.offset3
    %p &nbsp;
    %h3 Kullanıcı S&ouml;zleşmesi
    %p
      %strong 1.Taraflar:
    %p
      %strong 1.a
      %span &nbsp;
      %span
        %a{:href => "http://www.direncevre.org"} www.direncevre.org
      %span &nbsp;(bundan b&ouml;yle &quot;
      %strong Diren &Ccedil;evre
      %span &quot; olarak anılacaktır)
      %span kar amacı g&uuml;tmeyen bir sosyal ağ inisiyatifi olup
      %span &nbsp;
      %span T&uuml;rkiye Cumhuriyeti kanun ve mevzuatlarına uygun olarak Kullanıcı'larına hizmet vermeyi ama&ccedil;lamaktadır.
    %p
      %strong 1.b
      %span Hizmetten Yararlanabilecekler (&ldquo;
      %strong Kullanıcı
      %span &rdquo; olarak anılacaktır.)
    %p
      %span Medeni hakları kullanmaya ehil t&uuml;m ger&ccedil;ek ve t&uuml;zel kişiler Diren &Ccedil;evre'nin sunduğu hizmetlerden yararlanabilir.18 yaşını doldurmamış veya reşit olmayan, kısıtlı ve temyiz kudretine sahip olmayan kullanıcılar ancak veli veya kanuni temsilcileri vasıtasıyla işlem yapabilirler. Kullanıcı&rsquo;nın, Diren &Ccedil;evre intranet sisteminde aktif olmaları i&ccedil;in ger&ccedil;ek ad ve soyad ve e-posta adresi bilgilerini sisteme girmeleri gerekmektedir. Kullanıcı kendisi tarafından ifşa edilen t&uuml;m bilgiler ve kişisel verilerin Diren &Ccedil;evre sistemi i&ccedil;inde kullanımına, işlenmesine ve Diren &Ccedil;evre intranetindeki serbest dolaşımına onay vermektedir. Ancak, bu bilgiler kişinin isteği dışında a&ccedil;ık&ccedil;a g&ouml;sterilmez.
      %span &nbsp;
    %p
      %span İşbu S&ouml;zleşme'de Diren &Ccedil;evre ve Kullanıcı ayrı ayrı &quot;
      %strong Taraf
      %span &quot; ve &quot;
      %strong Taraflar
      %span &quot; olarak anılacaklardır.
    %p
      %span Bu sitede yer alan hizmetlerden yararlanmayı talep eden kişiler (&quot;Kullanıcı&quot;) işbu &quot;Kullanıcı S&ouml;zleşmesi'nde&quot; yer alan h&uuml;k&uuml;m ve şartların tamamını anladığını beyan ve kabul eder.
      %span
        %a{:href => "http://www.direncevre.org"} www.direncevre.org
      %span &nbsp;(&quot;Diren &Ccedil;evre&quot;) sitesinde sunulan hizmetlerden yararlanan Kullanıcı işbu Kullanıcı S&ouml;zleşmesi'nde yer alan beyan ve taahh&uuml;tleri yerine getirmek ile y&uuml;k&uuml;ml&uuml; olup site kullanımına ilişkin Diren &Ccedil;evre tarafından verilen talimatlar doğrultusunda hareket edeceğini taahh&uuml;t eder. Burada yer alan h&uuml;k&uuml;m ve şartların Kullanıcı tarafından kabul edilmemesi halinde Diren &Ccedil;evre, Kullanıcı'nın hesabını derhal etkinsizleştirecektir.
    %p
      %span Diren &Ccedil;evre işbu Kullanıcı S&ouml;zleşmesi'nde ve sitede yer alan talimatlarda &ouml;nceden haber vermeksizin dilediği zaman dilediği değişikliği yapma hakkını saklı tutar. S&ouml;z konusu değişiklikler sitede yayınlandıkları andan itibaren ge&ccedil;erli ve bağlayıcıdır. Site veya talimatlarda yapılan değişiklikleri takip etmek Kullanıcı'nın sorumluluğunda olup değişikliklerle ilgili Diren &Ccedil;evre'nin Kullanıcı'ya ayrıca bir bildirimde bulunma y&uuml;k&uuml;ml&uuml;l&uuml;ğ&uuml; yoktur. Kullanıcı, Diren &Ccedil;evre'de yer alan hizmetlerden yararlanmaya devam etmekle birlikte, yer alan değişiklikleri hi&ccedil;bir şarta bağlı olmaksızın peşinen kabul eder.
    %p
      %strong 2. S&ouml;zleşmenin Konusu
    %p
      %span İşbu S&ouml;zleşme Diren &Ccedil;evre'nin
      %span
        %a{:href => "http://www.direncevre.org"} www.direncevre.org
      %span &nbsp;adresi &uuml;zerinden sağlayacağı hizmetine
      %span (blog, a&ccedil;ık demokrasi ağı, veritabanı şeklinde genişletilebilir) ilişkin Tarafların hak ve y&uuml;k&uuml;ml&uuml;l&uuml;klerine dair h&uuml;k&uuml;mleri d&uuml;zenlemektedir. İşbu S&ouml;zleşme, t&uuml;m
      %span &nbsp;hakları Diren &Ccedil;evre'ye ait bulunan
      %span
        %a{:href => "http://www.direncevre.org"} www.direncevre.org
      %span &nbsp;web sitesine (&ldquo;Site&rdquo;) Kullanıcı tarafından giriş yapılmasıyla, Kullanıcı'nın, Site'de yer alan &ldquo;S&ouml;zleşmeyi okudum ve kabul ettim.&rdquo; kutucuğunu işaretlemesi ile kurulacaktır.
    %p
      %span
    %p
      %strong 3. Tarafların Hak ve Y&uuml;k&uuml;ml&uuml;l&uuml;kleri
    %p
      %strong 3.1. Diren &Ccedil;evre'nin Hak ve Y&uuml;k&uuml;ml&uuml;l&uuml;kleri
    %p
      %strong 3.1.a
      %span . Diren &Ccedil;evre'nin kurulan intranet ve sosyal ağ i&ccedil;erisinde Kullanıcı veya sair kişileri temsil yetkisi yoktur. Diren &Ccedil;evre Kullanıcı tarafından Site &uuml;zerinden sağlanan i&ccedil;erik hususunda hi&ccedil;bir sorumluluk kabul etmez ve kendiliğinden i&ccedil;eriğin uygunluğu hususunda bir denetim yapmak ile m&uuml;kellef değildir.
    %p
      %strong 3.1.b
      %span . Diren &Ccedil;evre'ye iletilen veya Site &uuml;zerinden Kullanıcı tarafından y&uuml;klenen, değiştirilen veya sağlanan bilgi ve i&ccedil;eriklerin doğruluğunu araştırma, bu bilgi ve i&ccedil;eriklerin g&uuml;venli, doğru ve hukuka uygun olduğunu taahh&uuml;t ve garanti etmekle y&uuml;k&uuml;ml&uuml; ve sorumlu olmadığı gibi, s&ouml;z konusu bilgi ve i&ccedil;eriklerin yanlış veya hatalı olmasından dolayı ortaya &ccedil;ıkacak hi&ccedil;bir zarar ve/veya hukuku itilaf halinde sorumlu tutulamaz.
    %p
      %strong 3.1.c
      -#%span .Diren &Ccedil;evre, girilen bilgilerin g&uuml;venliği i&ccedil;in ssl sertifikası kullanmaktadır. Bu nedenle Kullanıcı tarafından Diren &Ccedil;evre'ye Kullanıcı'nın ilettiği bilgiler 3. şahıslar tarafından g&ouml;r&uuml;lemez, işlenemez, &ccedil;oğaltılamaz veya kopyalanamaz. 
      %span Diren &Ccedil;evre Sitesi&rsquo;nin amacı ve işleyişi dışındaki durumlar hari&ccedil; kalmak &uuml;zere ilgili mevzuat ve kanunlar gereği kişisel verileri koruyacak ve 3. kişilerle paylaşmayacağını taahh&uuml;t etmektedir. Kişisel bilgiler, kişi adı-soyadı, adresi, telefon numarası, cep telefonu, e-posta adresi gibi kullanıcıyı tanımlamaya y&ouml;nelik her t&uuml;rl&uuml; diğer bilgiyi i&ccedil;ermekte olup, kısaca &quot;Gizli Bilgiler&quot; olarak anılacaktır. Diren &Ccedil;evre bu S&ouml;zleşme h&uuml;k&uuml;mleri kapsamında, Gizli Bilgiler'i &ouml;zel ve gizli tutmayı, bunu bir sır saklama y&uuml;k&uuml;ml&uuml;l&uuml;ğ&uuml; olarak addetmeyi ve gizliliğin sağlanması ve s&uuml;rd&uuml;r&uuml;lmesi, gizli bilginin tamamının veya herhangi bir kısmının kamu alanına girmesini veya yetkisiz kullanımını veya &uuml;&ccedil;&uuml;nc&uuml; bir kişiye ifşasını &ouml;nlemek i&ccedil;in gerekli tedbirleri almayı ve gerekli &ouml;zeni g&ouml;stermeyi taahh&uuml;t etmektedir.
    %p
      %span Diren &Ccedil;evre'nin gerekli ve taahh&uuml;t etmiş olduğu bilgi g&uuml;venliği &ouml;nlemlerini almasına karşın,
      %span
        %a{:href => "http://www.direncevre.org"} www.direncevre.org
      %span &nbsp;sitesine ve sisteme yapılan saldırılar sonucunda gizli bilgilerin zarar g&ouml;rmesi veya &uuml;&ccedil;&uuml;nc&uuml; kişilerin eline ge&ccedil;mesi ve Kullanıcı&rsquo;nın zarar g&ouml;rmesi durumunda, Diren &Ccedil;evre'nin herhangi bir sorumluluğu bulunmamaktadır. Gizli Bilgiler ancak resmi makamlarca usul&uuml; dairesinde bu bilgilerin talep edilmesi halinde ve y&uuml;r&uuml;rl&uuml;kteki emredici mevzuat h&uuml;k&uuml;mleri gereğince resmi makamlara a&ccedil;ıklama yapmak zorunda olduğu durumlarda resmi makamlara a&ccedil;ıklanacaktır.
    %p
      %strong 3.1.d
      %span . Diren &Ccedil;evre, Kullanıcılar'ın siteyi kullanımlarına dair bilgileri, teknik ve anonim bir iletişim
      %span &nbsp;
      %span dosyasını (kurabiye-cookie) kullanarak elde edebilir. Ancak, Kullanıcılar dilerlerse teknik iletişim dosyasının gelmemesi veya teknik iletişim dosyası g&ouml;nderildiğinde ikaz verilmesini sağlayacak bi&ccedil;imde, tarayıcı ayarlarını değiştirebilirler. Tarayıcı ayarlarının Kullanıcı tarafından değiştirilmesi sonucunda oluşacak zarar veya itilaftan &ouml;t&uuml;r&uuml; Diren &Ccedil;evre&rsquo;nin bir y&uuml;k&uuml;ml&uuml;l&uuml;ğ&uuml; bulunmamaktadır.
    %p
      %strong 3.2. Kullanıcı'nın Hak ve Y&uuml;k&uuml;ml&uuml;l&uuml;kleri
    %p
      %strong 3.2.a
      %span . Kullanıcı, Site&rsquo;ye vereceği ve y&uuml;kleyeceği her t&uuml;rl&uuml; i&ccedil;erik, bilgi, belge, g&ouml;rsel ve benzeri malzemenin doğru olduğunu ve şahsına ait olduğunu taahh&uuml;t eder. Bu hususu Diren &Ccedil;evre'nin ayrıca başka bir yazılı belge ile &nbsp;teyit etme sorumluluğu bulunmamaktadır. Fikri m&uuml;lkiyet hakları a&ccedil;ısından t&uuml;m sorumluluğun kendinde olduğunu kullanıcı taahh&uuml;t eder; Diren &Ccedil;evre&rsquo;nin bu konuda bir sorumluluğu bulunmamaktadır.
    %p
      %strong 3.2.b
      %span . Kullanıcı'nın Site&rsquo;ye y&uuml;kleyeceği her t&uuml;rl&uuml; i&ccedil;erik, bilgi, belge, g&ouml;rsel ve benzeri malzemenin doğruluğu ve hak sahipliği bakımından her t&uuml;rl&uuml; sorumluluk kullanıcıda olup, Kullanıcı, aksi bir durumun tespiti halinde her t&uuml;rl&uuml; sonuca katlanacağını kabul, beyan ve taahh&uuml;t eder. Kullanıcı belirttiği bilgiler kapsamında hizmet alacağını kabul ve beyan eder.
    %p
      %strong 3.2.c
      %span . Kullanıcı'nın, işbu S&ouml;zleşme &ccedil;er&ccedil;evesinde Diren &Ccedil;evre ağından hizmet alabilmesi i&ccedil;in; ger&ccedil;ek kişilerin n&uuml;fus c&uuml;zdanındaki ad-soyad ile ve t&uuml;zel kişilerin ise ticaret &uuml;nvanları ile şirket merkezlerinin adreslerini, sisteme girmesi gerekmektedir. Kullanıcı'nın başkaları yararına veya adına Diren &Ccedil;evre sistemine Kullanıcı olarak giriş yapması m&uuml;mk&uuml;n değildir.
    %p
      %strong 3.2.d
      %span . Kullanıcı, Site'de sorulan t&uuml;m bilgileri tam ve doğru olarak vereceğini kabul, beyan ve taahh&uuml;t eder. Kullanıcı adı ve şifresi kullanılarak yapılan t&uuml;m işlemlerin sorumluluğu Kullanıcı'ya aittir. Bu nedenle, Kullanıcı s&ouml;z konusu kullanıcı adı ve şifreyi g&uuml;venli bir şekilde saklamalı, &uuml;&ccedil;&uuml;nc&uuml; kişilerle hi&ccedil;bir şekilde paylaşmamalı, gerektiğinde kullanıcı adı ve şifrenin değiştirilmesi i&ccedil;in Diren &Ccedil;evre'ye başvurmayı veya gerekli işlemi Site i&ccedil;indeki ilgili alanda kendisi yapmalıdır.
    %p
      %strong 3.2.e
      %span . Kullanıcı, Site dahilinde kendileri tarafından sağlanan her t&uuml;rl&uuml; i&ccedil;erik, bilgi, belge, g&ouml;rsel ve benzeri malzemenin doğru ve hukuka uygun olduğunu kabul, beyan ve taahh&uuml;t ederler. Haksız menfaat elde etmek i&ccedil;in doğru olmayan beyanlarda bulunmak, kimlik bilgilerini ger&ccedil;eğe aykırı beyan etmek gibi eylemler cezai sorumluluklar doğurur. Diren &Ccedil;evre, bu t&uuml;r davranışlara engel olmak i&ccedil;in siteye girişi yasaklamak,s&uuml;regelen işlemleri iptal ve/veya durdurma, yetkili mercilere bildim ve şikayette bulunmak v.b. gibi uygun g&ouml;receği tedbirleri almaya yetkilidir. Site &uuml;zerinden sunulan i&ccedil;eriği ve &ccedil;eşitli hizmetleri kullanan Kullanıcı, yalnızca hukuka uygun, şahsi veya kurumsal ama&ccedil;larla işlem yapabilir. Kullanıcı'nın
      %span
        %a{:href => "http://www.direncevre.org"} www.direncevre.org
      %span 'da yaptığı işlem ve sağladığı i&ccedil;erikten doğan hukuki ve cezai sorumluluk kendisine aittir.
    %p
      %strong 3.2.f.
      %span &nbsp;Kullanıcı, Diren &Ccedil;evre ve/veya başka bir &uuml;&ccedil;&uuml;nc&uuml; şahsın haklarına tecav&uuml;z teşkil edecek nitelikte ve y&uuml;r&uuml;rl&uuml;kteki sair yasa ve mevzuata aykırı herhangi bir iş ve eylemde bulunmayacağını, yazılı, g&ouml;rsel ve işitsel bilgileri a&ccedil;ıklamayacağını, kabul, beyan ve taahh&uuml;t eder.
    %p
      %strong 4. Fikri M&uuml;lkiyet Hakları
    %p
      %a{:name => "h.gjdgxs"}
      %span İşbu Site yazılıma dair her t&uuml;rl&uuml; hakkı; Site'de yer alan unvan, işletme adı, marka, patent, logo, tasarım, metin, imge, ikon, bilgi ve y&ouml;ntem gibi tescilli veya tescilsiz t&uuml;m fikri m&uuml;lkiyet hakları Diren &Ccedil;evre'ye aittir ve ulusal ve uluslararası hukukun koruması altındadır. İşbu sitenin ziyaret edilmesi veya bu sitedeki hizmetlerden yararlanılması s&ouml;z konusu fikri m&uuml;lkiyet hakları konusunda Kullanıcı'ya hi&ccedil;bir hak vermez. Kullanıcı, anılan Site'yi ziyaret etmek veya kullanmakla anılan fikri m&uuml;lkiyet haklarını ihlal etmemeyi kabul, beyan ve taahh&uuml;t eder. Diren &Ccedil;evre'nin,
      %span
        %a{:href => "http://www.direncevre.org"} www.direncevre.org
      %span &nbsp;&uuml;zerinden sağladığı hizmetleri,
      %span
        %a{:href => "http://www.direncevre.org"} www.direncevre.org
      %span &nbsp;bilgileri,
      %span
        %a{:href => "http://www.direncevre.org"} www.direncevre.org
      %span &nbsp;telif haklarına t&acirc;bi &ccedil;alışmalar veya Site vasıtasıyla sahip olduğu her t&uuml;r maddi ve fikri m&uuml;lkiyet hakları da dahil t&uuml;m malvarlığı, aynı ve şahsi hakları ve bilgi ve deneyim birikimine (know-how) y&ouml;nelik t&uuml;m hakları saklıdır. Diren &Ccedil;evre, Kullanıcı'nın Site ya da e-posta ile ilettiği g&ouml;r&uuml;ş ve &ouml;nerileri istediği gibi kullanma hakkına sahiptir. Kullanıcı, Site&rsquo;ye y&uuml;klediği her t&uuml;rl&uuml; i&ccedil;erik, bilgi, belge, g&ouml;rsel ve benzeri malzemenin &uuml;&ccedil;&uuml;nc&uuml; kişilerin fikri m&uuml;lkiyet haklarını ihlal etmediğini taahh&uuml;t eder, aksi halde ortaya &ccedil;ıkacak herhangi bir hukuki itilaf halinde Diren &Ccedil;evre, kesinlikle sorumlu olmayacaktır. Kullanıcı ilettiği g&ouml;r&uuml;ş ve &ouml;nerileri i&ccedil;in her hangi bir hak talebinde bulunmayacağınızı peşinen kabul, beyan ve taahh&uuml;t eder. Sitede yer alan bilgilerin Diren &Ccedil;evre&rsquo;nin bilgisi ve izni haricinde, ticari ama&ccedil;larla &ccedil;oğaltılması, başka bir lisana &ccedil;evrilmesi, saklanması veya herhangi bir işleme tutulması da dahil herhangi bir şekilde kullanılması yasaktır.
      %span &nbsp;
      %span Sitede yer alan bilgiler Diren &Ccedil;evre'nin yazılı izni olmadan hi&ccedil;bir şekilde yayınlanamaz, kopyalanamaz, sunulamaz ve/veya aktarılamaz. Site'nin b&uuml;t&uuml;n&uuml; veya bir kısmı diğer bir web sitesinde Diren &Ccedil;evre'nin yetkilendirme ve izni olmaksızın kullanılamaz.
    %p
      %strong 5. S&ouml;zleşme Değişiklikleri
    %p
      %span Diren &Ccedil;evre, işbu S&ouml;zleşme'yi ve bu Site'deki diğer talimatlarda dilediği zaman dilediği değişiklikleri yapma hakkını saklı tutar. S&ouml;z konusu değişiklikler işbu sitede yayınlandıkları tarihlerden itibaren ge&ccedil;erli ve bağlayıcı olacaktır. Değişiklikleri takip etmek Kullanıcı'nın sorumluluğundadır. Diren &Ccedil;evre'nin değişiklikleri Kullanıcı'ya ayrıca bildirme y&uuml;k&uuml;ml&uuml;l&uuml;ğ&uuml; yoktur. Kullanıcı,
      %span
        %a{:href => "http://www.direncevre.org"} www.direncevre.org
      %span &nbsp;hizmetlerinden yararlanmaya devam etmekle bu değişiklikleri de kabul etmiş sayılır.
    %p
      %strong 6. Bağlantılar
    %p
      %span Site, i&ccedil;eriği Diren &Ccedil;evre tarafından kontrol edilmeyen başka web sitelerine taşıyan bağlantılar i&ccedil;erebilir. Bağlantı verilmiş olan bu web siteleri, bu s&ouml;zleşmede belirtilen gizlilik h&uuml;k&uuml;mlerinden farklı koşullar i&ccedil;erebilir. Bu web sitelerinin toplayabileceği kişisel bilgilerin derlenmesi, kullanımı veya ifşa edilmesinden Diren &Ccedil;evre sorumlu değildir. Site kullanımı esnasında oluşabilecek herhangi bir hata, kesinti, bilgi naklinde gecikme, bilgisayar vir&uuml;s&uuml;, hat ve elektrik arızası sonucunda ortaya &ccedil;ıkabilecek doğrudan veya dolaylı zarar, ziyan ve masraflardan Diren &Ccedil;evre sorumlu değildir. Benzer bi&ccedil;imde başka sitelerden Diren &Ccedil;evre'nin izni olsun ya da olmasın Site'ye bağlantı verildiğinde de, bu t&uuml;r bağlantıların kontrol edilememesinden kaynaklanan yapı nedeniyle Diren &Ccedil;evre'nin herhangi bir sorumluluğu bulunmamaktadır.
    %p
      %strong 7. Mucbir Sebepler
    %p
      %span Hukuken m&uuml;cbir sebep sayılan t&uuml;m hallerde, Diren &Ccedil;evre, işbu S&ouml;zleşme ile belirlenen y&uuml;k&uuml;ml&uuml;l&uuml;klerinden herhangi birini ge&ccedil; veya eksik ifa etme veya ifa etmeme nedeniyle y&uuml;k&uuml;ml&uuml; değildir. Bu ve bunun gibi durumlar, Diren &Ccedil;evre i&ccedil;in, gecikme, eksik ifa etme veya ifa etmeme veya temerr&uuml;t addedilmeyecek veya bu durumlar i&ccedil;in Diren &Ccedil;evre'den herhangi bir nam altında tazminat talep edilemeyecektir. &quot;M&uuml;cbir sebep&quot; terimi, siber saldırı, doğal afet, isyan, savaş, grev, iletişim sorunları, altyapı ve internet arızaları, elektrik kesintisi ve k&ouml;t&uuml; hava koşulları da dahil ve fakat bunlarla sınırlı olmamak kaydıyla, ilgili tarafın makul kontrol&uuml; haricinde, &ouml;nceden &ouml;ng&ouml;r&uuml;lemeyen ve gerekli &ouml;zeni g&ouml;stermesine rağmen &ouml;nleyemediği, ka&ccedil;ınılamayacak olaylar olarak yorumlanacaktır.
    %p
      %strong 8. Sair Hususlar
    %p
      %span Diren &Ccedil;evre, talep edilen bir hizmeti yasal zorunluluk olmamak kaydı ile vermeyi kabul edip etmemekte tamamen serbesttir.
      %span www.direncevre.org
      %span &nbsp;sitesinde bağlantı verilen diğer kişi ve kuruluşlarla Diren &Ccedil;evre'nin bir hukuki ilişkisi veya ortaklığı veya iştiraki bulunmamakta olup, Diren &Ccedil;evre bu kişi ve kuruluşların edimlerini, g&uuml;venilirliklerini taahh&uuml;t etmez; onlar adına hareket ettiği onları temsil ettiği, onların iş ortağı olduğu veya onlara herhangi bir konuda yetki verdiği ya da bunlar nam ve hesabına hareket ettiği anlamına gelmez. Bu nedenle, Diren &Ccedil;evre anılan kişi/kişiler/kurumların eylem ve işlemlerinden sorumlu değildir. Diren &Ccedil;evre tarafından doğrudan doğruya verilmeyen hi&ccedil; bir taahh&uuml;t Diren &Ccedil;evre i&ccedil;in bağlayıcı değildir. Diren &Ccedil;evre, Site&rsquo;deki bilgilerden, &uuml;&ccedil;&uuml;nc&uuml; kişiler tarafında
      %span www.direncevre.org
      %span &rsquo;a yansıtılmayan bilgilerden/bilgi değişikliklerinden; sitenin kullanılması nedeni ile Kullanıcı'nın bilgisayarına giren vir&uuml;s vb. sair internet tehlikelerinden dolayı sorumlu değildir. Bu internet sitesinin kullanımı sırasında herhangi bir arıza, hata, eksiklik, kesinti, nakilde gecikme, bilgisayar vir&uuml;s&uuml;, hat veya sistem arızası ya da m&uuml;cbir sebepler sonucu doğrudan veya dolaylı ortaya &ccedil;ıkan zarar, ziyan, hukuki itilaf ve masraflar da dahil ve bunlarla sınırlı olmamak &uuml;zere herhangi bir zarardan Diren &Ccedil;evre veya Diren &Ccedil;evre g&ouml;n&uuml;ll&uuml;leri ortaya &ccedil;ıkan veya &ccedil;ıkması muhtemel zarardan haberdar edilmiş olsalar dahi sorumlu olamazlar. Bu bilgiler doğrultusunda Diren &Ccedil;evre bu sitenin i&ccedil;eriğinde yer alan bilgilerden ve g&ouml;rsel malzemeden kaynaklanabilecek hatalardan, maddi veya manevi zarar ve hukuki itilaflardan hi&ccedil; bir şekilde sorumlu değildir. Diren &Ccedil;evre, dilediği zaman sitenin herhangi bir b&ouml;l&uuml;m&uuml;n&uuml; iptal edebilir, değiştirebilir ya da haber vermeksizin sitedeki bazı &ouml;zelliklere ve bilgilere veya sitenin bazı b&ouml;l&uuml;mlerine erişimi sınırlandırabilir. Diren &Ccedil;evre, Site&rsquo;nin vir&uuml;s koruması &ouml;nlemlerini almış olmakla birlikte bu konuda bir garanti vermemektedir. Kullanıcı, vir&uuml;slerden korunma konusunda gerekli &ouml;nlemleri alması gerekmektedir.
    %p
      %strong 9. Uygulanacak Hukuk ve Yetki
    %p
      %span İşbu Kullanıcı S&ouml;zleşmesi'nin uygulanmasında, yorumlanmasında ve h&uuml;k&uuml;mleri dahilinde doğan hukuki ilişkilerin y&ouml;netiminde T&uuml;rk Hukuku uygulanacaktır. İşbu Kullanıcı S&ouml;zleşmesi'nden doğan veya doğabilecek her t&uuml;rl&uuml; ihtilafın hallinde, İstanbul Merkez Mahkemeleri ve İcra Daireleri yetkilidir.
    %p
      %span
