-#coding: utf-8
%h2= "Hello,  #{@account ? @account.name.split(/\s/)[0] : "friend"}!"
%p 
  We have sent you the email with the link to confirm your account. Please check your inbox.

-content_for :sidebar do
  =partial("base/sidebar")


