
-content_for :include do

  :css
    #canvasinfo {
      font-size: 16px;
      margin: 14px 132px;
    }
    #canvasinfo span {
      color: @red;
    }
    #graph {
      position: relative;
    }
    #graph .top {
      height:40px;
    }
    #graph .top #select select {
      position: absolute;
      top:-3px;
      left:0px;
      width: 120px;
      background: #d9534f;
      color: #fff;
      padding: 5px 8px;
      font-size: 14px;
      border: none;
      -webkit-border-radius:4px;
      -moz-border-radius:4px;
      border-radius:4px
      height: 34px;
      outline:none;
      display: inline-block;
      -webkit-appearance:none;
      -moz-appearance:none;
      appearance:none;
      cursor:pointer;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
    #graph .top #select select   &:hover {
      background: #0380a5;
    }
    #graph .top #select select   option {
      background: #0380a5;
      padding-top:4px;
      font-size: 14px;
    }
    #graph  svg {
      position: absolute;
      top:40px;
      min-height: 240px;
      user-select: none;
    }
    #conflict_filter .head {
      height: 64px;
    }
    #filter-row #conflict_filter #filterInfo {
      height: 215px;
    }

-content_for :outer do
  #gc.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{:type=>'button','data-dismiss'=>'modal','aria-hidden'=>true} &times;
          %p Please enter details for the Graphcommons network graph
        .modal-body
          %input.nname{:type=>"text",:placeholder=>"Name",:style=>"width:100%;"}
          %br/
          %br/
          %input.nsubtitle{:type=>"text",:placeholder=>"Subtitle",:style=>"width:100%;"}
          %br/
          %br/
          %textarea.ndesc{:rows=>2,:placeholder=>"Description",:style=>"width:100%;"}
          %br/
          %br/
          %button.btn.network{:onclick=>"sendFilter(serializeFilter('network'),'network')"} Send
.row
  .col-md-12
    %iframe.gc{:src => "", :frameborder => "0", :style => "display:none;overflow:hidden;border:1px solid #DDDDDD;width:1px;min-width:100%;height:100vh;min-height:400px;", :width => "100%", :height => "100%", :allowfullscreen=>true}
%br
%br
.row
  .col-md-12
    #graph.middle
      .top
        #select
          %select
            -$relatives.each do |k,v|
              %option{:value=>k}= v
        %p#canvasinfo
      .d3canvas &nbsp;
  %br/

.row{:style=>"background:white;"}
  %br/
  .col-sm-3
    %br/
    %ul{:style=>"padding:0;list-style-type:none;"}
      -$relatives.each do |k,v|
        %li
          %input.field{:type=>"checkbox",:value=>k,:checked=>(k=="category_id" ? :checked : nil )}= v
    %hr/
    %p
      %span Retain any entities that is related to
      %input.limit{:type=>"number",:value=>2,:min=>1,:style=>"width:32px;display:inline;"}
      %span or more of the filtered conflicts.

  .col-sm-9
    #filter-row.block{'data-width'=>500}
      #filter= @filter

-content_for :body_end do
  =javascript_include_tag 'dist/d3.v3'
  :javascript
    $params = {x:"#{$relatives.keys.first}"}
    fill = "#0380a5"
    $("#graph select").on("change",function(e){
      updateGraph(false);
    })
    function updateGraph(data) {
      if (data) {
        $params["data"] = data
        xaxis = Object.keys(data)[0];
      } else {
        data = $params["data"];
        xaxis = $("#graph select option:selected").val();
      }
      if (xaxis == undefined && (!has_key($params,"x") || $params["x"] == undefined)) {
        xaxis = "companies";
      } else if (xaxis == undefined) {
        xaxis = $params["x"];
      }
      $("#graph select option").css("display", "none");
      $.each(data,function(i,e){
        $("#graph select option[value="+i+"]").css("display", "inline");
      })
      $("#graph select option[value="+xaxis+"]").prop("selected", true);
      $params["x"] = xaxis
      growGraph(data[xaxis])
      prevx = xaxis;
    }

    function growGraph(data) {
      var params = jQuery.extend(true, {}, $params);
      $('#graph .d3canvas').html('');
      datax = data;
      var sum = 0;
      for(var k in data) {
        sum += data[k];
      }
      var rows = Object.keys(data).length;
      var margin = {top: 60, right: 20, bottom: 0, left: 0},
      width = $('#graph').width() - margin.left - margin.right,
      //height = $('#graph').height() - margin.top - margin.bottom;
      height = rows * 24;
      $('#graph').animate({height: height+60});
      width = $('#graph').width();


      var max = d3.max(d3.entries(data), function(d) { return d.value; });

      var svg = d3.select(".d3canvas").append("svg")
          .attr("width", width )
          .attr("height", height + 20)
          .append("g")
          .attr("transform", "translate(" + margin.left /2 + ",20)");

      var y = d3.scale.ordinal()
          .rangeRoundBands([0, height],0);

      console.log(y.rangeBand())

      var x = d3.scale.linear()
          .range([width, 0]);

      x.domain(d3.keys(data));
      y.domain([0, max]);

      var g = svg.selectAll("g.g")
          .data(d3.entries(data))
          .enter().append("g")
          .attr("class", "g")
          .attr("id", function(d,i) {return "g_"+i})
          .each(function(d, i) { d.index = i})

        g.append("text")
          .attr("y", function(d,i) { return (i+1)*24 - 10; })
          .attr("x", 6)
          .style("fill", "rgb(3, 128, 165)")
          .style("text-anchor", "right")
          .append("tspan")
            .attr("font-size", 14)
            .style("font-weight", 500)
            .text(function(d) {return d.key} )
            .style("opacity", 0)
            .transition()
            .delay(function (d,i) { return i * (800 / rows);})
            .duration(1400)
            .style("opacity", 1);


      g.append("rect")
          .attr("class", "bar")
          .attr("y", function(d,i) { return i * 24; })
          .attr("height", 20)
          .attr("rx", 2)
          .attr("ry", 2)
          .attr("data-value", function(d) { return (d.value); })
          .attr("data-text", function(d) { return d.key + (d.key.substr(d.key.length - 1, 1) == "+" ? "" : ":") + " <span>" + d.value + " <small>(%"+String(Math.round(d.value / sum * 1000) / 10).replace(".",",")+")</small></span>"; })
          .style("fill", fill)
          .attr("width", 0)
          .attr("x", 0)
          .transition()
          .delay(function (d,i) { return i * (800 / rows);})
          .duration(400)
          .attr("width", function(d) { return (width * d.value / max); })
          .attr("x", 0)

        g.append("defs")
          .append("clipPath")
            .attr("id",function(d,i){return "clip_"+i})
            .append("rect")
              .attr("y", function(d,i) { return i * 24; })
              .attr("height", 20)
              .attr("width", function(d) { return (width * d.value / max); })
              .attr("x", 0)

        g.append("g")
          .attr("clip-path",function(d,i){return "url(#clip_"+i+")"})
          .append("text")
            .attr("y", function(d,i) { return (i+1)*24 - 10; })
            .attr("x", 6)
            .style("fill", "#FFF")//function(d) { return (height * d.value / max) < 92 ? "#555" : "#FFF"; })
            .style("text-anchor", "right")
            .append("tspan")
              .attr("font-size", 14)
              .style("font-weight", 500)
              .text(function(d) {return d.key} )
              .style("opacity", 0)
              .transition()
              .delay(function (d,i) { return i * (800 / rows);})
              .duration(1400)
              .style("opacity", 1);


      setTimeout(function() {g.on('mouseover', rectMover).on('mouseout', rectMout)}, 1200);
      

      function rectMover(e) {
        $("#canvasinfo").html($(this).find("rect").data("text"))
        d3.select("#g_"+e.index+" rect")
          .transition()
          .duration(100)
          .style("fill", "#d9534f");
      }
      function rectMout(e) {
        $("#canvasinfo").html("");
        d3.select("#g_"+e.index+" rect")
          .transition()
          .duration(100)
          .style("fill", fill);
      }
    }

    function has_key(obj,key) {
      return Object.keys(obj).indexOf(key) >= 0;
    }

