.row.whitebox
  .col-sm-6.col-sm-offset-3
    -if @error
      #error.error
        !=@error
    %form{:action=>"/parse",'accept-charset'=>"UTF-8",:method=>"post",:class=>"form",:enctype=>"multipart/form-data"}
      %label Please select the csv file to upload.
      %input#vector_file{:type=>'file',:name=>'master'}
      %button{:type=>"submit"} Submit
