.DS_Store
.rvmrc
log/**/*
tmp/**/*
app/**/*
tmp/*
bin/*
app/*
vendor/gems/*
!vendor/gems/cache/
.sass-cache/*
config/database.rb
config/puma.rb
config/vars.rb
db/*.db
*.swp
*.swo
*.swn
*.swm
.~*
.rvmrc*
Gemfile.lock
public/data/*
lib/sheets/*
lib/locales/*
stored_token.json
misc/saves.csv

