
app/**/*
app/*
bin/**/*
bin/*
log/**/*
log/*
tmp/**/*
tmp/*

*.swp
*.swo
*.swn
*.swm
.~*
.rvmrc*

Gemfile.lock

config/database.rb
config/puma.rb
config/vars.rb

public/data/*
public/img/Conflict
public/docs

lib/sheets/*
lib/locales/*

stored_token.json

misc/saves.csv
misc/sld2json/node_modules/
misc/sld2json/package-lock.json

db/*.db

node_modules/
package-lock.json
package.json

.sass-cache/*

vendor/gems/*
!vendor/gems/cache/

