-# coding: utf-8
.row
  .span12
    .hero-unit
      %h1.title
        =mt('S端r端m端')
        =pat('g端ncelle')
    .inner
      =form_for :conflict, url(:conflicts, :update_version, :id => @version.id), :method => :put, :class => :form do |f|
        =partial "conflicts/version_form", :locals => { :f => f }
