-# coding: utf-8
.row
  .col-md-12
    .hero-unit
      %h1.title= @title
    .inner
      =form_for :conflict, url(:conflicts, :create), :method => :post, :class => :form, :id=>:conflict_form, :style => "margin:0 -15px" do |f|
        =partial "conflicts/form", :locals => { :f => f }
