-# coding: utf-8
.row
  .span12
    .hero-unit
      %h1.title
        =pat('yeni')
        =mt('İhtilaf')
    .inner
      =form_for :conflict, url(:conflicts, :update_version, :id => @version.id), :class => :form do |f|
        =partial "conflicts/version_form", :locals => { :f => f }
