-# coding: utf-8
%link{:rel=>'stylesheet',:type=>'text/css',:media=>'print',:href=>'/stylesheets/print.css'}
.clearfix.summary_header
  %h2.pull-left#name= @name
#conflict_summary= @table.html_safe
-if @print
  :javascript
    $(document).ready(function(){ window.print(); });

