-#coding:utf-8
.content
  =form_tag url_for(:sessions, :create), :class => 'form login' do
    .row
      .col-md-5.col-md-offset-3.clearfix
        %br/
        %h2 Welcome to EJAtlas.
        %p Please fill in your credentials to access the site.
        %br/
    .row
      .col-md-6.col-md-offset-3.clearfix
        .pull-left
          %label{:style=>'margin-top:4px;'} E-mail
        .pull-right=text_field_tag :email, :value => params[:email], :class => :text_field, :style=>'width:200px'
    .row{:style=>'margin-top:12px;'}
      .col-md-6.col-md-offset-3.clearfix
        .pull-left
          %label{:style=>'margin-top:4px;'} Password
        .pull-right=password_field_tag :password, :value => params[:password], :class => :text_field, :style=>'width:200px'
    .row
      .col-md-6.col-md-offset-3.clearfix
        .pull-right
          %a{:href=>'/accounts/resetpassword'} Forgot my password
    .row
      .col-md-6.col-md-offset-3.clearfix
        .pull-right
          %a{:href=>'/accounts/new'} I want to contribute
    .row
      .col-md-6.col-md-offset-3.clearfix
        %br/
        %input.return{:type=>'hidden',:name=>'return_to'}
        .pull-right=submit_tag('Log in', :class => :btn)

    :javascript
      (window.onpopstate = function () {
          var match, pl = /\+/g, search = /([^&=]+)=?([^&]*)/g, decode = function (s) { return decodeURIComponent(s.replace(pl, " ")); }, query  = window.location.search.substring(1); 
          urlParams = {};
          while (match = search.exec(query)) urlParams[decode(match[1])] = decode(match[2]);
          if (Object.keys(urlParams).indexOf('return') >= 0) { $('.return').val(urlParams['return']); }
      })();
