-# coding: utf-8
-content_for :include do
  =stylesheet_link_tag 'neutrino/jquery-ui'
  -#=javascript_include_tag 'jquery.validate', 'jquery-ui.min', 'maskedinput', 'modal'
.row
  .col-md-12
    .hero-unit
      %h1.title
        Editing Tag: 
        = @tag.name
    .inner
      =form_for :tag, url(:tags, :update, :id => @tag.id), :method => :put, :class => :form do |f|
        =partial "tags/form", :locals => { :f => f }

