-# coding: utf-8
.row
  .col-md-12
    .hero-unit
      %h1.title= @title
    .inner
      =form_for :country, url(:countries, :create), :class => :form do |f|
        =partial "countries/form", :locals => { :f => f }
