-# coding: utf-8
-content_for :include do
  =javascript_include_tag 'map'
  =stylesheet_link_tag 'leaflet'
  <script src="http://cdn.leafletjs.com/leaflet-0.5/leaflet.js"></script>
  :javascript
    for(var i=1; i<12; i++) {
      img = new Image(24,24);
      img.src = "/images/ikon/"+i+".png";
      img = new Image(30,30);
      img.src = "/img/i_"+i+".png";
    }
.front
  .row
    .col-md-9
      #map
      .clearfix#disclaimer
        %br/
        %p.first=@desc
    .col-md-3
      #infopane &nbsp;

  .row.summary_header
    .col-md-12
      %h2.pull-left#name
      .pull-right#commands{:style=>'display:none;'}
        %ul.clearfix.list-unstyled
          %li
            =link_to ('Print'), url(:conflicts, :view, :id => 0), :method => :get, :target => '_blank', :id => '-'
          :javascript
            var clear = false;
            var clearuser = false;
          -unless current_account.nil?
            %li
              =link_to ('Yeni bilgi gir'), url(:conflicts, :new_version, :id => 0), :method => :get, :target => '_blank', :id => 'new_version'
            -if ['admin','editor'].include? current_account.role
              :javascript
                var clear = true;
              %li
                =link_to ('Düzenle'), url(:conflicts, :edit, :id => 0), :method => :get, :target => '_blank', :id => 'edit'
            -else
              :javascript
                var clearuser = true;
              %li
                =link_to ('Detaylı bilgi iste'), url(:conflicts, :details, :id => 0), :method => :get, :target => '_blank', :id => 'details'
      .clearfix
      #conflict_summary{:style=>'display:none;'}


-content_for :sidebar, partial("base/sidebar")
:javascript
  $(document).ready(function(){initMap(#{@markerinfo})});
