.navbar, .push, .footer, #commands, .refanch{display:none;}
.leaflet-top, .printer {display:none;}
.leaflet-control-attribution {display:block;background:white !important;font-size:10px;}
.map_icon {border:3px solid white}
.noprint {display:none;}

