-#coding:utf-8
.row
  %br/
  %br/
  .span4.offset4
    .well
      %h3 Welcome!
      %p 
        %strong Your email is confirmed.
      %p 
        Please set your password now.

      =form_for :account, url(:accounts, :update, :id => @account.id), :method => :put, :class => :form do |f|
        .group.pull-right
          =f.label 'Password'
          =f.error_message_on :password
          =f.password_field :password, :class => :password_field
        .group.pull-right
          =f.label 'Password again'
          =f.error_message_on :password_confirmation
          =f.password_field :password_confirmation, :class => :password_field
        .pull-right.btn-group.png
          =f.submit pat(:save), :class => 'btn btn-inverse pn'
