-# coding: utf-8
-content_for :include do
  =stylesheet_link_tag 'tablesorter/style'
  =javascript_include_tag 'jquery.tablesorter.min', 'uitablefilter'
.row.wide
  .col-md-12
    .hero-unit
      %h1.title
        -if @requests
          =mt('User requests')
        -else
          =mt('User profiles')
    .inner
      %table.table.tablesorter#sortme
        %thead
          %tr
            %th.first=mat(:account, :image)
            %th=mat(:account, :name)
            -if @requests
              %th=mat(:account, "App & Cnf")
            -else
              %th=mat(:account, "Int & Com")
            %th=mat(:account, :role)
            %th=mat(:account, :email)
            %th.last
              %form#filter-form
                %input#filter{:name=>"filter",:value=>"",:maxlength=>"30",:size=>"30",:type=>"text",:placeholder=>'Filter'}/
        %tbody
          -@accounts.each do |account|
            %tr
              %td.first
                -if img = account.images.where(prime:1)[0]
                  %img{:src=>img.file.thumb_url,:style=>'width:64px;'}
                -else
                  &nbsp;
              %td=account.name
              %td
                -if @requests
                  -if account.approved
                    %span.glyphicon.glyphicon-ok
                    %span.hide 0
                  -else
                    %span.glyphicon.glyphicon-remove
                    %span.hide 1
                  &nbsp;
                  -if account.confirmed
                    %span.glyphicon.glyphicon-ok
                    %span.hide 0
                  -else
                    %span.glyphicon.glyphicon-remove
                    %span.hide 1
                -else
                  -if account.intention and account.intention.length > 0
                    %span.glyphicon.glyphicon-ok
                    %span.hide 0
                  -else
                    %span.glyphicon.glyphicon-remove
                    %span.hide 1
                  &nbsp;
                  -if account.comments and account.comments.length > 0
                    %span.glyphicon.glyphicon-ok
                    %span.hide 0
                  -else
                    %span.glyphicon.glyphicon-remove
                    %span.hide 1
              %td=account.role
              %td=account.email
              %td.last
                -if @requests and not account.approved
                  %a.btn.pull-right{:href=>"/accounts/approve/#{account.id}"} Approve
                -else
                  %a.btn.pull-right{:href=>"/accounts/disapprove/#{account.id}"} Disapprove
                %a.btn.pull-right{:href=>"/accounts/delete/#{account.id}"} Delete
                %a.btn.pull-right{:href=>"/accounts/edit/#{account.id}"} Edit

      :javascript
        $(document).ready(function(){
          $('#sortme').tablesorter({
            headers: { 
              3: { sorter: false } 
            } 
          });
          var theTable = $('table#sortme')
          $("#filter").click(function(){$('#filter').focus();});
          $("#filter").keyup(function() {
            $.uiTableFilter( theTable, this.value );
          })
          $('#filter-form').submit(function(){
            return false;
          }).focus(); 
        });
