-# coding: utf-8
.row.wide
  .col-md-6.col-md-offset-2
    .hero-unit
      %h1.title=t("m.account.become_collaborator")
    %p=t("m.account.if_you_are_interested_in_contributing_to_the")
.row.wide
  .col-md-12
    .inner
      =form_for :account, url(:accounts, :create), :class => :form do |f|
        =partial "accounts/form", :locals => { :f => f }
