
# Basic parameters
$domain  = 'localhost:3000'
$siteurl = 'http://localhost:3000'
$filedir = Dir.pwd
$fileurl = "#{Dir.pwd}/../ej-files"
$session_secret = ''

# Geoserver URL
$gs_url = "https://geo.ejatlas.org/geoserver"

# ElasticSearch
$esindex = 'atlas'
$espass  = ''

# PostgreSQL
$db_user_dev = 'atlas'
$db_pass_dev = ''
$db_user_pro = 'atlas'
$db_pass_pro = ''

# Google Drive
$gd_api_id = 'atlas.apps.googleusercontent.com'
$gd_api_key = ''
$gd_sheet_id = ''

# SendGrid
$sg_api_key = ''

# Graphcommons
$gc_api_key = ''

