-# coding: utf-8
.row.wide
  .col-md-12
    .hero-unit
      %h1.title
        =mt('Companies to merge')
    .inner
      %p Please type the keywords below, separated by commas.
      %form{:method=>'POST',:action=>'/companies/merging'}
        %textarea{:name=>'keys'}
        %button{:type=>'submit'} Submit
      %hr/
      -@keywords.each do |k,v|
        -next unless v.any?
        .well
          %h3= k
          %form{:method=>'POST',:action=>"/companies/mergethem/"}
            %ul
            -v.each do |s|
              %li.clearfix{:style=>'list-style-type:none'}
                .pull-left
                  &nbsp;
                  %input{:type=>'radio',:name=>"a_#{k}",:value=>s['id']}
                  &nbsp;
                .pull-left
                  &nbsp;
                  %input{:type=>'checkbox',:name=>"p_#{s['id']}",:value=>s['id']}
                  &nbsp;
                .pull-left
                  -if s[:name].length > 48
                    %span{:title=>s[:name]}=s[:name][0..48]+"..."
                  -else
                    %span=s[:name]
                  &nbsp;
                  %span.badge{:title=>s[:confs]}=s[:count]
            %br/
            %input{:type=>'hidden',:value=>'merge',:name=>'action'}
            %button{:type=>'submit'} Merge
            %button{:type=>'submit'} Delete

