-# coding: utf-8
.row
  .col-md-12
    .hero-unit
      %h1.title= @title
    .inner
      =form_for :company, url(:companies, :create), :class => :form do |f|
        =partial "companies/form", :locals => { :f => f }
