-# coding: utf-8
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    :css
      a { color: #049cdb; text-decoration:none; }
      a:hover { text-decoration:underline; }
  %body{:style=>'background:#fff'}
    %div{:style => "width: 100%; max-width: 600px; font-family: Helvetica, Arial, sans-serif; font-size: 14px; text-align:left; line-height:150%;padding: 48px;"}
      %p
        = "Dear #{@account.name},"
        %br/
        %br/
        We are very happy to tell you that on Tuesday we launched the new website of our Global Atlas of Environmental Conflicts in Brussels during the EJOLT closing event at the European Economic and Social Committee (you can read 
        %strong
          %a{:href=>'http://www.theguardian.com/global-development-professionals-network/2015/mar/03/mapping-environmental-protest-justice-defending-land'}Leah's article on The Guardian 
        and ideally comment on it).
        %br/
        %br/
        You will surely remember that we first went online one year ago in March 2014, displaying on the map around 900 cases of mobilization and resistance across the world. Since then, the 
        %strong network of collaborators 
        have expanded significantly and the 
        %strong coverage 
        of countries, regions and topics has also increased, reaching almost 1,400 cases published. We want to thank you all for contributing to this unique database! From our side, we have been working hard on a new design of the website, to include all information and display it best, to increase engagement and to integrate geographical information. To gauge the response to these changes and looking towards the future, we have also 
        %strong
          %a{:href=>'https://docs.google.com/forms/d/1jGi8V-8-0YVRjqZXV1NN2SkSMj9TT7H4JIH44HDq6IA/viewform'} launched an online survey 
        to help evaluate the site. 
        %br/
        %br/
        %a{:href=>'http://ejatlas.org'} 
          %img{:src=>'https://fbexternal-a.akamaihd.net/safe_image.php?d=AQAkkTXpGUSdU0ko&w=534&h=280&url=http%3A%2F%2Fejatlas.org%2Fimages%2Fejatlas-fb.jpg%3F1&cfs=1&upscale=1',:style=>'float:left;width:100%;max-width:240px;padding:4px 12px 12px 0 !important'}
        Please explore the new website at
        %strong 
          %a{:href=>'http://ejatlas.org'} http://ejatlas.org 
        and check out the new functionalities, especially the much improved filter which allows you to 
        %strong filter 
        through the 100 fields of the EJatlas form and then check the cases on the map. Click on the points and open the full case page to read about it. You can also 
        %strong browse 
        though country where the conflicts take place, companies and the home country of the companies.
        %br/
        %br/
        On your right hand side, you can see all recently added or updated cases and scroll down in the feed for accessing the previous ones. You might also want to engage in discussions through the 
        %strong Comments 
        functionalities through the application Disqus (easy to use, registration takes 30 seconds) or share there additional information you might have on the case (you can also upload pictures, videos, links etc). We plan to bring commented cases to the top of the feeed to promote discussion and engagement.
        %br/
        %br/
        But probably the most significant development of the Atlas are the 
        %strong  Featured Maps, 
        thematic or country-based map integrating 
        %strong Geo-spatial 
        social and environmental data and explanatory texts. They have been done in close collaboration with other organizations or individual authors. We very much welcome expressions of interest to create further featured maps.
        %br/
        %br/
        %a{:href=>'http://ejatlas.org/featured/fracking-frenzy'} 
          %img{:src=>'https://file.ejatlas.org/img/Featured/fracking-frenzy/FoEE_landscape__HR__transparent.png',:style=>'float:left;width:100%;max-width:120px;padding:4px 12px 12px 0 !important'}
        %strong 
          %a{:href=>'http://ejatlas.org/featured/fracking-frenzy'} Fracking Frenzy featured map, 
        based on the Friends of the Earth 
        %strong 
          %a{:href=>'https://www.foeeurope.org/fracking-frenzy-report-011214'} report, 
        shows country data on basins and explorations, plus data referring to water stress levels and the points were we have documented fracking related conflicts going on. 
        %br{:style=>'clear:both;'}/
        %a{:href=>'http://ejatlas.org/featured/climate-debt'} 
          %img{:src=>'https://file.ejatlas.org/img/Featured/climate-debt/climate-debt.jpg',:style=>'float:left;width:100%;max-width:120px;padding:4px 12px 12px 0 !important'}
        %strong 
          %a{:href=>'http://ejatlas.org/featured/climate-debt'} Climate Debt featured map, 
        based on the calculations of Carbon Debt from Rikard Warlenius from Lund University and other data, highlights this spatial mal-distribution of climate change sources and its impacts.
        %br{:style=>'clear:both;'}/
        %a{:href=>'http://ejatlas.org/featured/mining-latam'} 
          %img{:src=>'https://file.ejatlas.org/img/Featured/mining-latam/latam.jpg',:style=>'float:left;width:100%;max-width:120px;padding:4px 12px 12px 0 !important'}
        %strong 
          %a{:href=>'http://ejatlas.org/featured/mining-latam'} Mining Conflicts in Latin America 
        featured map presents cases of mining conflicts related to metal ores, industrial minerals and construction materials mining activities in the region.
        %br{:style=>'clear:both;'}/
        Two other colleagues have developed maps of their respective countries, 
        %strong 
          %a{:href=>'http://ejatlas.org/featured/madagascar'} Madagascar 
        and 
        %strong 
          %a{:href=>'http://ejatlas.org/featured/colombia-all-conflicts'} Colombia.
        %br/
        %br/
        Ejatlas is a collaborative project committed to visibilize conflicts and resistances. It was launched as a one-language website, but many cases in Latin America for example are in Spanish and some cases even have double translation to reach a broader public. 
        %br/
        %br/
        The Ejatlas is now entering a new phase as the EJOLT project is coming to an end. However, our intention is to continue the mapping project and expand our network of collaboration. It is a site which we hope you can use for your own work, teaching, research, campaigning, advocacy actions etc. Please share the new platform widely through your networks and social media, and feel free to print out the cases' sheets to reach readers also in areas where internet connection is slower or absent.
        %br/
        %br/
        While the website has been continually updated, we would like to warmly invite you all to:
        %ul
          %li Keep updating the cases you entered whenever something relevant happens (project is stopped, important mobilization starts, activists are arrested, etc). We, as editors, will get a notification of your edits and will publish the update immediately.
          %li As you see on the map, many regions still fall “out of the radar”; we don't have much contacts there (like Russia, China, Central Asia, many African countries, Australia, etc) and would be very interested to get in touch with individuals or groups knowledgeable of issues going on there. 
          %li 
            Finally, in an effort to understand the use of the site, who the audience is and their needs and to further improve the online resource that Ejatlas is, we would kindly request you to take a few minutes of your time to participate in 
            %strong 
              %a{:href=>'https://docs.google.com/forms/d/1jGi8V-8-0YVRjqZXV1NN2SkSMj9TT7H4JIH44HDq6IA/viewform'} our Survey 
            and give us feedback. This information, as well your opinion and suggestions, will be extremely valuable to us. 
        %br/
        For any further comments, questions and suggestions, please contact us at 
        %strong 
          %a{:href=>'mailto:ejoltmap@gmail.com'} 
            ejoltmap@gmail.com
        %br/
        %br/
        Heartfelt thanks for your continued interest and support.
        %br/
        %br/
        The Ejatlas Team
        %br/
