-# coding: utf-8
.row
  .col-md-6.col-md-offset-3
    .hero-unit
      %h1.title= @title
    .inner
      =form_for :featured, url(:featureds, :csv), :class => :form, :enctype => 'multipart/form-data' do |f|
        %input#file{:type=>'file',:name=>'featured[file]'}
        %br/
        .group.navform.wat-cf
          =f.submit pat(:upload), :class => 'btn btn-warning', :style=>'width:180px;font-weight:bold'
