-# coding: utf-8
-content_for :include do
  =stylesheet_link_tag 'neutrino/jquery-ui'
  =javascript_include_tag 'jquery.validate', 'jquery-ui.min', 'maskedinput', 'modal'
.row
  .col-md-12
    .hero-unit
      %h1.title
        Editing
        = @featured.name
    .inner
      =form_for :featured, url(:featureds, :update, :id => @featured.id), :method => :put, :class => :form do |f|
        =partial "featureds/form", :locals => { :f => f }

