-# coding: utf-8
-content_for :include do
  =stylesheet_link_tag 'dist/tablesorter/style'
  =javascript_include_tag 'dist/jquery.tablesorter.min', 'dist/uitablefilter'
#fixed{:style=>"position:fixed; top: 24px; right:24px; transition:250; z-index: 9999"}
.row.wide
  .col-md-12
    .hero-unit
      %h1.title
        Featured maps
        %small
          %a{:href=>'/featureds/new'} add new
          |
          %a{:href=>'/featureds/help',:target=>"_blank"} get help
    .inner
      %table.table.tablesorter#sortme
        %thead
          %tr
            %th.first Name
            %th Description
            %th Image
            %th.last
              %form#filter-form
                %input#filter{:name=>"filter",:value=>"",:maxlength=>"30",:size=>"30",:type=>"text",:placeholder=>'Filter'}/
        %tbody
          -@featureds.each do |featured|
            %tr
              %td.first=featured.name
              %td=featured.description.split(" ")[0..12].join(" ")
              %td
                -if img = featured.images.first
                  %img{:src=>img.file.thumb_url,:style=>'max-height:50px;'}
                -else
                  =""
              %td.last
                =link_to pat('Edit'), url(:featureds, :edit, :id => featured.id), :method => :get
                -if ["admin","editor"].include? current_account.role
                  |
                  =link_to pat('Delete'), url(:featureds, :delete, :id => featured.id), :method => :get
      :javascript
        var asuccess = "<div class='alert alert-success alert-dismissable fade in' id='alert-success' role='alert'> <button aria-label='Close' class='close' data-dismiss='alert' type='button'> <span aria-hidden=''>x</span> </button> #{t("f.conflict.conflict_saved_successfully")} &nbsp; &nbsp; </div>"
        var alerror = "<div class='alert alert-danger alert-dismissable fade in' id='alert-error' role='alert'> <button aria-label='Close' class='close' data-dismiss='alert' type='button'> <span aria-hidden=''>x</span> </button> #{t("f.conflict.conflict_could_not_be_saved")} &nbsp; &nbsp;<br/><br/><b></b></div>"
        $(document).ready(function(){
          lochash = window.location.hash.replace('#_','#').split("&");
          console.log(lochash)
          if (lochash[0] == "#success") {
            $("#fixed").css("opacity",0);
            $("#fixed").html(asuccess);
            $("#fixed").css("opacity",1);
            window.location.hash = window.location.hash.split("&")[0];
          }

          $('#sortme').tablesorter({
            headers: { 
              3: { sorter: false } 
            } 
          });
          var theTable = $('table#sortme')
          $("#filter").click(function(){$('#filter').focus();});
          $("#filter").keyup(function() {
            $.uiTableFilter( theTable, this.value );
          })
          $('#filter-form').submit(function(){
            return false;
          }).focus(); 
        });
