-# coding: utf-8
-content_for :include do
  =stylesheet_link_tag 'dist/neutrino/jquery-ui'
  -#=javascript_include_tag 'dist/jquery.validate', 'dist/jquery-ui.min', 'dist/maskedinput', 'dist/modal'
.row
  .col-md-12
    .hero-unit
      %h1.title
        New featured map
        %small
          %a{:href=>'/featureds/help',:target=>"_blank"} get help
    .inner
      =form_for :featured, url(:featureds, :create), :class => :form do |f|
        =partial "featureds/form", :locals => { :f => f }
